.servicesWrapper {
  background: #ebe9e5;
  padding-top: 60px;
  padding-bottom: 45px;
}

@media all and (max-width: 1024px) {
  .servicesWrapper {
    padding-top: 45px;
    margin-bottom: 45px;
  }
}

.servicesWrapper h1 {
  color: #034EA2;
}

@media all and (max-width: 1024px) {
  .servicesWrapper h1 {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 45px;
  }
}

.servicesWrapper .sectionWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1024px) {
  .servicesWrapper .sectionWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.servicesWrapper .sectionWrapper .sectionLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 50px;
}

.servicesWrapper .sectionWrapper .sectionLeft :global(.commonWrapper) {
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 12px 0px 0px 0px 10px 0px #8080807d;
          box-shadow: 0px 0px 12px 0px 0px 0px 10px 0px #8080807d;
}

@media all and (max-width: 1024px) {
  .servicesWrapper .sectionWrapper .sectionLeft {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 0;
  }
}

@media all and (max-width: 1024px) {
  .servicesWrapper .sectionWrapper .sectionRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 45px;
  }
}

.bigTitleBlockSetWrapper {
  padding: 75px 0;
}
/*# sourceMappingURL=services.module.css.map */