@import '../../../styles/base';

.servicesWrapper {
  background: $grey;
  padding-top: 60px;
  padding-bottom: 45px;

  @media all and (max-width: 1024px) {
    padding-top: 45px;
    margin-bottom: 45px;
  }

  h1 {
    color: $blue;
    // margin-top: 18px;

    @media all and (max-width: 1024px) {
      text-align: center;
      margin-bottom: 30px;
      padding-top: 45px;
    }
  }
  .sectionWrapper {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 1024px) {
      flex-direction: column;
    }

    .sectionLeft {
      display: flex;
      flex: 1;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-right: 50px;
      :global(.commonWrapper) {
        margin-bottom: 40px;
        box-shadow: 0px 0px 12px 0px $boxShadow;
      }

      @media all and (max-width: 1024px) {
        justify-content: space-around;
        margin-right: 0;
      }
    }

    .sectionRight {
      @media all and (max-width: 1024px) {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
      }
    }
  }
}
.bigTitleBlockSetWrapper {
  padding: 75px 0;
}
