@import '../../../../styles/base';

.servicesWrapper {
  background: $grey;
  padding-top: 60px;
  h1 {
    color: $blue;
    margin-top: 18px;
  }
  .sectionWrapper {
    display: flex;
    justify-content: space-between;
    .sectionLeft {
      display: flex;
      flex: 1;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-right: 50px;
      :global(.commonWrapper) {
        height: 298px;
        margin-bottom: 40px;
        box-shadow: 0px 0px 12px 0px $boxShadow;
      }
    }
  }
}
.bigTitleBlockSetWrapper {
  padding: 75px 0;
}
