.servicesWrapper {
  background: #ebe9e5;
  padding-top: 60px;
}

.servicesWrapper h1 {
  color: #034EA2;
  margin-top: 18px;
}

.servicesWrapper .sectionWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servicesWrapper .sectionWrapper .sectionLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 50px;
}

.servicesWrapper .sectionWrapper .sectionLeft :global(.commonWrapper) {
  height: 298px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 12px 0px 0px 0px 10px 0px #8080807d;
          box-shadow: 0px 0px 12px 0px 0px 0px 10px 0px #8080807d;
}

.bigTitleBlockSetWrapper {
  padding: 75px 0;
}
/*# sourceMappingURL=services.module.css.map */