.wrapper {
  // position: relative;
  .tabPane {
    width: 100%;
  }

  :global(.tab-pane)-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  :global(.tab-pane)-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  :global(.tab-pane)-exit {
    opacity: 1;
  }
  :global(.tab-pane)-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
}
