@import '../../../styles/base.scss';

.wrapper {
  .contentHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .sn {
      width: 45px;
    }
    .details {
      flex-grow: 1;
    }
  }
  .primaryPanel {
    display: flex;
    justify-content: space-between;
    p {
      margin-bottom: 0;
    }
    a {
      margin-right: 15px;
    }
  }
}