@import '../../../../../styles/partial/vars';

.wrapper {
  .heading {
    margin: 18px 0;

    h1 {
      color: $blue;
    }
  }
  .contentHeaderWrapper {
    span {
      &:first-child {
        width: 45px;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
    }
  }
  .tableRowWrapper{
    :global(.table-contents) {
      background: $grey;
    }

    @media all and (max-width: 425px) {
      font-size: 14px;
    }

    span {
      &:first-child {
        width: 45px;

        @media all and (max-width: 375px) {
          width: 21px;
        }
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
      a {
        color: $red;
      }
    }
  }
}