@import '../../../styles/partial/vars';

.iconBlockWrapper {
  padding-top: 75px;
  padding-bottom: 75px;

  @media all and (max-width: 425px) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.ebankingWrapper {
  margin-top: 30px;
}
.bigTitleBlockSetWrapper {
  margin: 75px 0;
}
