@import '../../../../styles/partial/vars';

.wrapper {
  .greyInner {
    padding-top: 60px;
    background: $grey;
    .heading {
      color: $blue;
      margin-bottom: 30px;
    }
    .flexSection {
      display: flex;
      justify-content: space-between;
      margin: -18px;
      :global(.single-block) {
        flex: 1;
        background: none;
        margin: 18px;
        box-shadow: $boxShadow;
        background: $white;
      }
      :global(.commonWrapper) {
        margin: 18px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
      .list {
        list-style: none;
        padding: 0;
        position: relative;
        li {
          margin-left: 12px;
          margin-bottom: 12px;
          display: flex;
          svg {
            margin-right: 12px;
            font-size: 22px;
          }
        }
      }
    }
    .bottomSection {
      margin-top: 75px;
      color: $darkGrey;
      background-size: cover !important;
      .outerSection {
        display: flex;
        justify-content: flex-end;
        padding: 60px 0;
        .innerSection {
          width: 50%;
          :global(.single-block) {
            background: #fff;
            h4 {
              text-align: center;
            }
          }
          .elementsWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
              width: 65%;
              text-align: center;
              font-weight: 600;
              color: $darkGrey;
              padding: 9px;
              border: 1px solid #D0D0D0;
              margin-bottom: 15px;
            }
            .currency {
              width: 40%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 15px;
              .currencySelector {
                position: relative;
                img {
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                }
                select {
                  border: none;
                  cursor: pointer;
                  -moz-appearance:none; /* Firefox */
                  -webkit-appearance:none; /* Safari and Chrome */
                  appearance:none;
                  padding-left: 18px;
                  option {
                    padding-left: 0;
                  }
                }
              }
            }
            .number {
              margin-top: 15px;
              font-size: 24px;
              font-weight: 600;
            }
          }
          .bottomList {
            margin-top: 30px;
            color: #000;
            ul {
              padding: 0;
              list-style: none;
              position: relative;
              li {
                margin-bottom: 12px;
                svg {
                  margin-right: 12px;
                }
              }
            }
          }
        }
      }
    } 
  }
}