.wrapper .greyInner {
  padding-top: 60px;
  background: #ebe9e5;
}

.wrapper .greyInner .heading {
  color: #034EA2;
  margin-bottom: 30px;
}

.wrapper .greyInner .flexSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -18px;
}

.wrapper .greyInner .flexSection :global(.single-block) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: none;
  margin: 18px;
  -webkit-box-shadow: 0px 0px 10px 0px #8080807d;
          box-shadow: 0px 0px 10px 0px #8080807d;
  background: #ffffff;
}

.wrapper .greyInner .flexSection :global(.commonWrapper) {
  margin: 18px;
}

.wrapper .greyInner .flexSection :global(.commonWrapper) a {
  color: #fff;
  text-decoration: none;
}

.wrapper .greyInner .flexSection .list {
  list-style: none;
  padding: 0;
  position: relative;
}

.wrapper .greyInner .flexSection .list li {
  margin-left: 12px;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .greyInner .flexSection .list li svg {
  margin-right: 12px;
  font-size: 22px;
}

.wrapper .greyInner .bottomSection {
  margin-top: 75px;
  color: #707070;
  background-size: cover !important;
}

.wrapper .greyInner .bottomSection .outerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 60px 0;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection {
  width: 50%;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection :global(.single-block) {
  background: #fff;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection :global(.single-block) h4 {
  text-align: center;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .elementsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .elementsWrapper input {
  width: 65%;
  text-align: center;
  font-weight: 600;
  color: #707070;
  padding: 9px;
  border: 1px solid #D0D0D0;
  margin-bottom: 15px;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .elementsWrapper .currency {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .elementsWrapper .currency .currencySelector {
  position: relative;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .elementsWrapper .currency .currencySelector img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .elementsWrapper .currency .currencySelector select {
  border: none;
  cursor: pointer;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  padding-left: 18px;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .elementsWrapper .currency .currencySelector select option {
  padding-left: 0;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .elementsWrapper .number {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .bottomList {
  margin-top: 30px;
  color: #000;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .bottomList ul {
  padding: 0;
  list-style: none;
  position: relative;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .bottomList ul li {
  margin-bottom: 12px;
}

.wrapper .greyInner .bottomSection .outerSection .innerSection .bottomList ul li svg {
  margin-right: 12px;
}
/*# sourceMappingURL=prithivi.module.css.map */