.wrapper {
  background: #ebe9e5;
}

.wrapper .heading {
  color: #034EA2;
  margin-bottom: 18px;
}

.wrapper .accordianWrapper .tableHeadTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wrapper .accordianWrapper .tableHeadTitles span:nth-child(1) {
  width: 45px;
}

.wrapper .accordianWrapper .tableHeadTitles span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .accordianWrapper :global(._panel) {
  background: #ffffff;
}

.wrapper .accordianWrapper .primaryPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .accordianWrapper .primaryPanel p {
  margin-bottom: 0;
}

.wrapper .accordianWrapper .primaryPanel a {
  margin-right: 15px;
}

/* Financial Transaction Css */
.transactionWrapper {
  margin-top: 60px;
}

.transactionWrapper .transactionTabNavWrapper {
  padding-top: 80px;
}

.transactionWrapper .transactionTabNavWrapper :global(.tab-nav-left) {
  margin: 0;
}

.transactionWrapper .heading {
  margin-bottom: 18px;
}

.transactionWrapper .heading h1 {
  color: #034EA2;
}

/* Financial Transaction Table Css */
.whiteBg {
  background: #ffffff;
}

.transactionTable .tableHeadTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.transactionTable .tableHeadTitles span:first-child {
  width: 45px;
}

.transactionTable .tableHeadTitles span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.transactionTable :global(.table-contents) {
  background: #ebe9e5;
}

.transactionTable :global(.table-contents) span:first-child {
  width: 45px;
}

.transactionTable :global(.table-contents) span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=financialDownload.module.css.map */