.wrapper .tabNavWrapper {
  padding: 60px 0;
}

.wrapper .greyBack {
  background: #ebe9e5;
  padding-bottom: 60px;
}

.wrapper .valuesEthicWrapper {
  padding: 60px;
}
/*# sourceMappingURL=aboutnibl.module.css.map */