@import '../../../../styles/partial/vars';

.wrapper {
  .tabNavWrapper {
    padding: 60px 0;
  }
  .greyBack {
    background: $grey;
    padding-bottom: 60px;
  }
  .valuesEthicWrapper {
    padding: 60px;
  }
}
