@import "../../styles/partial/vars";

.tab-nav-list {
  width: max-content;
  margin: auto;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 20px;
      display: inline-block;
      padding-bottom: 9px;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 9px;
      }
    }
  }

  .nav-header {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;
    height: 30px;

    ul {
      position: absolute;
      width: max-content;
      left: 0;
    }
  }

  &.arrows {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    ul {
      flex-grow: 1;

      li {
        padding-bottom: 0;
        position: relative;

        &:before {
          content: '';
          background: $red2;
          width: 100%;
          height: 2px;
          bottom: -9px;
          position: absolute;
          opacity: 0;
          transition: all .3s ease;
        }

        &.active {
          
          &:before {
            opacity: 1;
            transition: all .3s ease;
          }
        }
      }
    }
  }

  &.stretch {
    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}

.nav-indicator-rail {
  position: relative;
  width: 100%;

  .nav-indicator {
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background: $red;
  }
}
