@import "../../../styles/partial/vars";

/* BigTitleBlock Css */
.bigTitleBlockWrapper {
  background: $grey;
  box-shadow: $boxShadow;
  height: 100%;
  width: 100%;
  
  .title {
    margin-top: 0;
    padding: 9px 21px;
    color: $red2;
    font-size: 18px;
    border-bottom: 1px solid $borderGrey;
  }
  .innerBlock {
    padding: 21px;
  }
}
/* BigTitleBlock Css Ends */

/* Image Block With Overlay Css*/
.imageWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 100%;

  @media all and (max-width: 768px) {
    width: 393px;
  }

  .overlay {
    overflow: hidden;
    position: absolute;
    bottom: -58px;
    background: $overLayDark;
    padding: 15px 30px;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    transition: all .3s ease .2s;

    h4 {
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      margin: 0;
    }
  
    .details {
      flex-grow: 1;
      overflow: hidden;
      opacity: 0;
      transition: all .3s ease;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      font-size: 14px;
  
      p {
        margin: 0;
        color: #FFF;
      }

      a {
        color: #FFF;
        text-decoration: none;
      }
    }
  }

  &:hover {

    .overlay {

      bottom: 0;
      transition: all .15s ease;

      .details {
        opacity: 1;
        transition: all .15s ease .15s
      }
    }
  }
}

/* Image Block With Overlay Css Ends */

/* Minimal BLock Css */
.minimalBlockWrapper {
  background: #fff;
  border-top: 2px solid #cc2128;
  box-shadow: 0px 0px 10px 0px #8080807d;
  height: 100%;
}
.minimalBloackInner {
  padding: 30px;
}
.minimalBlockTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 30px;
  }
}
/* Minimal BLock Css Ends*/
