@import '../../styles/partial/vars';

.wrapper {
  width: 33.33%;
  .innerWrapper {
    padding: 30px;
    padding-bottom: 0;
    
    span {
      display: block;
      color: $blue2;
      font-size: 21px;
      margin-bottom: 18px;
    }

    img {
      margin-bottom: 30px;
      max-width: 60px;
    }
  }
}
