@import '../../styles/base.scss';

.wrapper {
  background: url('../../assets/img/subscribtion_Bg.jpg') no-repeat;
  .flexSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;

    @media all and (max-width: 1024px) {
      justify-content: space-around;
    }

    .block {
      span {
        color: $white;
        font-size: 16px;
      }
      &:nth-child(2) {
        width: 25%;
        margin-left: 80px;

        input {
          width: 100%;
          padding: 3px;
          padding-left: 12px;
          border: 1px solid $borderGrey;
        }
      }
    }
  }
}

.button {
  background: $red2;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 10px 15px;
}