@import '../../../styles/partial/vars';

.tabnavWrapper {
  margin-bottom: 60px;
}

.foreignExWrapper {
  :global(.greyWrapper) {
    padding-bottom: 80px;
  }

  .tblWrapper {
    padding-top: 80px;
    :global(.table-contents) {
      background: $grey
    }
  }
}

/* PageWithBasicContent CSS */
.pageWithBasicContent {
  :global(.greyWrapper) {
    padding-bottom: 80px;
  }
}