@import '../../../styles/base.scss';

.gridBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 45px;

  .leftBlock {
    @media all and (max-width: 425px) {
      grid-column: 1/3;
    }

    .title {
      color: $blue;
      font-size: 24px;
      margin-bottom: 30px;
      font-family: $primaryFont;

      @media all and (max-width: 425px) {
        margin-bottom: 6px;
      }
    }

    .innerLeft {
      padding-right: 45px;
      span {
        display: block;
        border-bottom: 1px solid $grey;
        padding: 15px 0;
        display: flex;
  
        svg {
          color: $red;
          margin-right: 15px;
          font-size: 21px;
        }
      }
    }
  }

  .rightBlock {
    @media all and (max-width: 425px) {
      grid-column: 1/3;
      margin-top: 45px;
    }

    .title {
      color: $blue;
      font-size: 24px;
      margin-bottom: 30px;
      padding-left: 45px;
      font-family: $primaryFont;

      @media all and (max-width: 425px) {
        padding-left: 0;
        margin-bottom: 6px;
      }
    }

    .innerRight {
      padding-left: 45px;
      border-left: 1px solid $grey;

      @media all and (max-width: 425px) {
        padding-left: 0;
        border: none;
      }

      span {
        display: block;
        border-bottom: 1px solid $grey;
        padding: 15px 0;
        display: flex;
  
        svg {
          color: $red;
          margin-right: 15px;
          font-size: 21px;
        }
      }
    }
  }
}