@import '../../../styles/partial/vars';

.wrapper {
  :global(.heading) {
    margin-bottom: 66px;

    @media all and (max-width: 768px) {
      text-align: center;
    }
  }

  :global(.tab-nav-list) {
    @media all and (max-width: 425px) {
      width: auto;
      overflow: auto;

      ul {
        width: max-content;
      }
    }
  }

  :global(._section) {
    h4 {
      color: $blue;
      font-size: 24px;
    }
  }

  .managerInfo {
    span {
      display: block;
      margin-bottom: 12px;
    }
  }

  .secondaryWrapper {
    padding: 66px 0;
  }

  .tabContent {
    padding-top: 60px;
    
    @media all and (max-width: 425px) {
      padding-top: 30px;
    }
  }

  .bigBlockSetWrapper {
    background: $grey;
    :global(.single-block) {
      background: $white;
      border-right: 1px solid $grey !important;
    }
  }
}

/* StaffTbl CSS */
.staffTbl {
  .location {
    color: $red;
    margin-bottom: 18px;
    display: flex;
    justify-content: flex-end;

    @media all and (max-width: 435px) {
      justify-content: center;
    }
  }

  :global(.table-contents) {
    background: $grey;
  }

  .table {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;

    @media all and (max-width: 425px) {
      font-size: 14px;
    }

    .service {
      grid-column: 3/5;
      text-align: center;
    }
    .male {
      grid-column: 6/8;
      text-align: center;
    }
    .female {
      grid-column: 9/11;
      text-align: center;
    }
    .total {
      grid-column: 12/12;
      text-align: right;
    }
  }
}

/* Enquiry CSS */
.enquiry {
  :global(.heading) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    @media all and (max-width: 425px) {
      flex-direction: column;
    }
    .location {
      color: $red;
    }
  }

  .flexBlock {
    display: flex;
    justify-content: space-between;
    margin: -30px;

    @media all and (max-width: 768px) {
      flex-direction: column;
    }

    .block {
      padding: 30px;
      flex: 1;
      .content {
        h5 {
          color: $red;
        }
        span {
          display: block;
        }
      }
    }

    :global(.content-card) {
      background: $grey;
      padding-bottom: 75px;
      height: 100%;

      @media all and (max-width: 768px) {
        padding-bottom: 30px;
      }
    }
  }
}