@import '../../../../styles/partial/vars';

.wrapper {
  .tabNavWrapper {
    margin-bottom: 30px;
  }
}

/* Component Download Table Css Below */
.downloadTable {
  .tableHeadTitles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .sn {
      width: 45px;
    }
    .details {
      flex-grow: 1;
    }
  }
  :global(._panel) {
    background: $white;
  }
  .primaryPanel {
    display: flex;
    justify-content: space-between;
    p {
      margin-bottom: 0;
    }
    a {
      margin-right: 15px;
    }
  }
}
