@import '../../../../styles/partial/vars';

.wrapper {
  h1 {
    color: $blue2;
  }
  
  .contentWrapper {
    margin-top: 45px;

    :global(._title) {
      color: $blue2 !important;
      display: block;
      font-size: 24px;
      margin-bottom: 21px;
      margin-top: 18px;
    }
  }
}
