.sliderWrapper {
  :global(.slick-next) {
    @media all and (max-width: 1024px) {
      right: 0;
      color: #fff;
    }
  }
  :global(.slick-prev) {
    @media all and (max-width: 1024px) {
      left: 0;
      color: #fff;
    }
  }
}