@import '../../../styles/partial/vars';

.tabNavWrapper {
  padding-bottom: 30px;
}

/* EBanking, Credit Card, Career, Products CSS */
.sectionWrapper {
  :global(._panel) {
    background: $grey;
  }
  :global(.heading) {
    margin-top: 18px;
    h1 {
      text-transform: initial;
    }
  }
}