@import '../../../../styles/partial/vars';

.strip {
  background: $grey;
  padding-bottom: 45px;
}


/* Component BranchlessBanking Content CSS Below */
.contentWrapper {
  .heading {
    margin-top: 30px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    h1 {
      color: $blue;
    }
    .location {
      color: $red;
    }
  }
}