.strip {
  background: #ebe9e5;
  padding-bottom: 45px;
}

/* Component BranchlessBanking Content CSS Below */
.contentWrapper .heading {
  margin-top: 30px;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentWrapper .heading h1 {
  color: #034EA2;
}

.contentWrapper .heading .location {
  color: #ED1C24;
}
/*# sourceMappingURL=branchlessBanking.module.css.map */