.wrapper .flexSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px 0;
}

.wrapper .flexSection .description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
}

.wrapper .flexSection .description .text {
  padding-right: 300px;
}

.wrapper .flexSection .form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .flexSection .form h3 {
  color: #fff;
}
/*# sourceMappingURL=form.module.css.map */