$red: #ED1C24;
$blue: #034EA2;
$secondaryBlue: #002289;
// $grey: #ebe9e5;
$grey: #EFEFEF;
$darkGrey: #707070;
$borderGrey: #D0D0D0;
$white: #ffffff;
$lightBlack: #3c3c3c;
$redGradient: linear-gradient(to top, #892729, #97272a, #a5272a, #b3272a, #c12629);
$blueGradient: linear-gradient(to top, #2e4177, #26386d, #1e2f64, #15265a, #0c1d51);
$overLay: rgba(255, 255, 255, 0.65);
$overLayDark: rgba(0, 0, 0, 0.58);
$boxShadow: 0px 0px 10px 0px #8080807d;
$greyishBlack: #27313b;
$blue2: #003E92;
$red2: #E50019;
$black: #3c3c3c;
