@import '../../../styles/partial/vars';

.gridBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 45px;

  .leftBlock {
    .title {
      color: $blue;
      font-size: 24px;
      margin-bottom: 30px;
    }

    .innerLeft {
    padding-right: 45px;
      span {
        display: block;
        border-bottom: 1px solid $grey;
        padding: 15px 0;
  
        svg {
          color: $red;
          margin-right: 15px;
          font-size: 21px;
        }
      }
    }
  }

  .rightBlock {
    .title {
      color: $blue;
      font-size: 24px;
      margin-bottom: 30px;
      padding-left: 45px;
    }

    .innerRight {
      padding-left: 45px;
      border-left: 1px solid $grey;
      span {
        display: block;
        border-bottom: 1px solid $grey;
        padding: 15px 0;
  
        svg {
          color: $red;
          margin-right: 15px;
          font-size: 21px;
        }
      }
    }
  }
}