@import '../../../styles/base.scss';

.wrapper {
  .contentHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .sn {
      width: 45px;
    }
    .details {
      flex-grow: 1;
    }
  }
  :global(._panel) {
    background: $white;
  }
  .primaryPanel {
    display: flex;
    justify-content: space-between;
    p {
      margin-bottom: 0;
    }
    a {
      margin-right: 15px;
    }
  }
}

.transactionTableDetails {
  flex-grow: 1;
}

.transactionTableIndex {
  width: 45px;
}

.transactionRow {
  padding: 15px 18px;
  background: $grey;
  color: #000;
  display: flex;
  margin-bottom: 20px;

  span:first-child {
    width: 45px;
  }

  span:nth-child(2) {
    flex-grow: 1;
  }
}

:global(.financial-transactions) {

  :global(.content-header) {
    margin-bottom: 20px;
  }
}