@import "../../styles/partial/vars";

.flexBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 36px;
  font-size: 14px;

  .block {
    display: flex;

    .innerBlock {
      img {
        display: block;
        margin-right: 6px;
        max-width: 60px;
      }

      span {
        display: block;

        &.currency {
          color: $blue; 
        }
      }
    }
  }
}

.button {
  background: no-repeat;
  border: 1px solid $red;
  padding: 3px 27px;
  border-radius: 3px;
  margin-top: 30px;
  color: $black;
  display: inline-block;

  &:hover {
    color: $black;
  }
}