.wrapper :global(.heading) {
  text-align: center;
}

.bigBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1024px) {
  .bigBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bigBlock .leftBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 50px;
}

.bigBlock .leftBlock :global(.commonWrapper) {
  margin-bottom: 40px;
}

@media all and (max-width: 1024px) {
  .bigBlock .leftBlock {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 0;
  }
}

@media all and (max-width: 1024px) {
  .bigBlock .rightBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=services.module.css.map */