@import '../../../../styles/partial/vars';

.wrapper {
  :global(.heading) {
    text-align: center;
  }
}

.bigBlock {
  display: flex;
  justify-content: space-between;

  @media all and (max-width: 1024px) {
    flex-direction: column;
  }

  .leftBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    margin-right: 50px;
    :global(.commonWrapper) {
      margin-bottom: 40px;
    }

    @media all and (max-width: 1024px) {
      justify-content: space-around;
      margin-right: 0;
    }
  }

  .rightBlock {
    @media all and (max-width: 1024px) {
      display: flex;
      justify-content: center;
    }
  }
}