@import "../../../../styles/partial/vars";

.noPadding {
  padding: 0 !important;
}

.wrapper {
  padding: 60px 0;
  // background: #fff;

  .flexBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    .block {
      background: url('../../../../assets/img/paper-bg.jpg');
      padding: 27px;
      border-radius: 6px;
      position: relative;
      box-shadow: $boxShadow;
    }
  }
}
