@import "../../../styles/base";

.contentWrapper {
  width: 393px;
  height: 298px;
  color: #fff;
  background: $greyishBlack;
  border-radius: 6px;
}
.mainContent {
  padding: 30px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  
  .title {
    h4 {
      color: #fff;
      font-size: 21px;
    }
  }

  img {
    margin-bottom: 18px;
  }

  p {
    @media all and (max-width: 425px) {
      font-size: 14px;
    } 
  }

  a {
    text-decoration: none;
    margin-left: 6px;
    color: $red;
  }
}
