.blockWrapper {
  position: relative;
  width: 393px;
}

.blockWrapper .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  padding: 42px 29px;
}
/*# sourceMappingURL=styles.module.css.map */