@import "../../../styles/base";

.footerWrapper {
  margin-top: 30px;
  background: url('../../../assets/img/footer_bg.jpg') no-repeat;
  background-size: cover;
  padding-bottom: 18px;
  color: #fff;
  font-family: $secondaryFont;
  // position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  @media all and (max-width: 425px) {
    height: auto;
  }

  .gridBlock {
    padding: 45px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    color: #D9D9D9;
    font-size: 14px;

    .block {
      h4 {
        margin-bottom: 15px;
        color: #fff;
        font-size: 20px;
      }
      span {
        display: block;
        margin-bottom: 3px;
      }
    }
  }
}

.bottomFooter {
  border-top: 1px solid $white;
}

.footerFlex {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  @media all and (max-width: 425px) {
    flex-direction: column;
  }
}
.footerLinks {
  a {
    color: #D9D9D9;
    text-decoration: none;
    font-size: 14px;
    margin-right: 45px;

    @media all and (max-width: 768px) {
      display: block;
      margin-bottom: 15px;
    }
  }
  .copyright {
    margin-top: 18px;
    font-size: 14px;
  }
}
.social {
  margin-top: 15px;

  @media all and (max-width: 425px) {
    text-align: center;
  }
  a {
    color: #D9D9D9;
    margin-left: 30px;
    font-size: 20px;
    &:hover {
      color: $red;
      transition: .2s all ease;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;

  a {
    color: #D9D9D9;
  }
}