@import '../../../../../../styles/partial/vars';

.wrapper {
  .heading {
    color: $blue;
    margin: 18px 0;
  }
  .contentHeaderWrapper {
    span {
      &:first-child {
        width: 45px;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
    }
  }
  .tableRowWrapper{
    :global(.table-contents) {
      background: $white;
    }
    span {
      &:first-child {
        width: 45px;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
      a {
        color: $red;
      }
    }
  }
}