.wrapper .heading {
  color: #034EA2;
  margin: 18px 0;
}

.wrapper .contentHeaderWrapper span:first-child {
  width: 45px;
}

.wrapper .contentHeaderWrapper span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .tableRowWrapper :global(.table-contents) {
  background: #ffffff;
}

.wrapper .tableRowWrapper span:first-child {
  width: 45px;
}

.wrapper .tableRowWrapper span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .tableRowWrapper span a {
  color: #ED1C24;
}
/*# sourceMappingURL=mobileTopUp.module.css.map */