@import "../../../styles/partial/vars";

.main-menu {

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      position: relative;
      margin: 0 3px;
      display: flex;
      align-items: flex-start;

      .dropdown {
        position: absolute;
        width: 250px;
        // left: 15px;
        z-index: 5;
        padding-top: 23px;
        opacity: 0;
        visibility: hidden;
        top: 33px;
        transition: .3s ease;
  
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          background: #fff;
          border: 1px solid #a2a2a2;
          border-top: none;
          // min-height: 280px;
  
          li {
            position: static;
            margin: 0;
            
            &:not(:last-child) {
              border-bottom: 1px solid $grey;
            }
  
            a {
              display: block;
              padding: 12px 15px;
              margin: 0;
              display: block;
              width: 100%;

              &:hover {
                background: #cecece;
                font-weight: bold;
              }
            }

            .submenu {
              position: absolute;
              left: 100%;
              top: 0;
              height: 100%;
              padding-top: 23px;
              width: 580px;
              display: flex;
              opacity: 0;
              visibility: hidden;
              transition: all .3s ease;
              display: none; // temp

              .submenu-details {
                flex: 1;
                padding: 15px;
                background: $grey;
              }
              
              ul {
                background: $grey;
                height: 100%;
                flex: 1;
              }
              
              .submenu-extra {
                background: $grey;
                padding-right: 23px;
                padding-top: 23px;
                flex: 1;
                
                .menu-image {
                  position: relative;
    
                  ._overlay {
                    
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    padding: 12px;
                    background: transparentize(#000, $amount: 0.5);
                    color: $white;
                    font-size: 16px;
    
                    img {
                      max-width: 100%;
                    }
    
                    ._name {
                      font-weight: 700;
                      margin-bottom: 3px;
                    }
    
                    p {
                      line-height: 1;
                    }
    
                    a {
                      color: $red;
                    }
                  }
                }
              }
            }

            &:hover {
              
              .submenu {
                opacity: 1;
                visibility: visible;
                transition: all .15s ease;
              }
            }
          }
        }
      }

      &:hover {

        .dropdown {
          opacity: 1;
          visibility: visible;
          transition: all .15s ease
        }
      }
    }
  }
}

.e-banking-link {
  display: flex;
  align-items: flex-end;
  margin-right: 24px;
  color: $red;

  img {
    margin-right: 7px;
  }
}