/* BigTitleBlock Css */
.bigTitleBlockWrapper {
  background: #ebe9e5;
  -webkit-box-shadow: 0px 0px 10px 0px #8080807d;
          box-shadow: 0px 0px 10px 0px #8080807d;
}

.bigTitleBlockWrapper .title {
  margin-top: 0;
  background: #ED1C24;
  padding: 9px 21px;
  color: #fff;
  font-size: 18px;
}

.bigTitleBlockWrapper .innerBlock {
  padding: 25px;
}

/* BigTitleBlock Css Ends */
/* Image Block With Overlay Css*/
.imageWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

@media all and (max-width: 768px) {
  .imageWrapper {
    width: 393px;
  }
}

.imageWrapper .overlay {
  overflow: hidden;
  position: absolute;
  bottom: -100px;
  background: rgba(255, 255, 255, 0.65);
  padding: 15px 30px;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .3s ease .2s;
  transition: all .3s ease .2s;
}

.imageWrapper .overlay h4 {
  color: #034EA2;
}

.imageWrapper .overlay .details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

.imageWrapper .overlay .details p {
  margin: 0;
}

.imageWrapper .overlay .details a {
  color: #ED1C24;
  text-decoration: none;
}

.imageWrapper:hover .overlay {
  bottom: 0;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.imageWrapper:hover .overlay .details {
  opacity: 1;
  -webkit-transition: all .15s ease .15s;
  transition: all .15s ease .15s;
}

/* Image Block With Overlay Css Ends */
/* Minimal BLock Css */
.minimalBlockWrapper {
  background: #fff;
  border-top: 2px solid #cc2128;
  -webkit-box-shadow: 0px 0px 10px 0px #8080807d;
          box-shadow: 0px 0px 10px 0px #8080807d;
  height: 100%;
}

.minimalBloackInner {
  padding: 30px;
}

.minimalBlockTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.minimalBlockTitle img {
  width: 30px;
}

/* Minimal BLock Css Ends*/
/*# sourceMappingURL=style.module.css.map */