@import '../../../styles/partial/vars';

.wrapper {

  :global(.white-gradient) {
    padding-bottom: 1px;
  }


  .greyBack {
    padding: 60px 0;
    .heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
      
      
      h1 {
        color: $blue;
      }
      @media all and (max-width: 768px) {
        flex-direction: column;
        text-align: center;
      }

      .location {
        color: $red;
      }
    }

    :global(.commonWrapper) {
      display: flex;
      justify-content: center;
    }
  }
  .strip {
    padding-bottom: 45px;
  }
}

/* Component Locker Size Css Below */
.lockerSizeWrapper {
  padding-top: 30px;
  padding-bottom: 60px;
  .heading {
    
    h1 {
      color: $blue;
    }
  } 
}

/* Component Locker Table Css Below*/
.tableWrapper {
  margin-top: 30px;
  .tableHead {
    width: 100%;
  }
  .topHeading {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
  }
  .tableBodyWrapper {
    :global(.table-contents) {
      background: $grey;
    }
  }
  .dimension {
    grid-column: 2/5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }
  .charges {
    grid-column: 8/13;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }
  .hwd {
    grid-column: 2/5;
    display: flex;
    justify-content: space-around;
  }
  .deposits {
    grid-column: 6;
    text-align: center;
  }
  .anualCharges {
    grid-column: 8/13;
    display: flex;
    justify-content: space-around;
  }
  
}
