.wrapper .formBlocks .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .formBlocks .block select {
  width: 65%;
  margin-bottom: 12px;
  padding: 9px 30px;
  border: 1px solid #D0D0D0;
  color: #c1c1c1;
}

.wrapper .formBlocks .block input {
  width: 65%;
  margin-bottom: 12px;
  padding: 9px 30px;
  border: 1px solid #D0D0D0;
}
/*# sourceMappingURL=findOurAgent.module.css.map */