.wrapper h1 {
  margin-bottom: 18px;
  color: #034EA2;
}

.wrapper .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.wrapper .section h4 {
  color: #ED1C24;
}

.wrapper .section p span {
  display: block;
}

.wrapper .section .rightSection {
  padding: 0 30px;
}
/*# sourceMappingURL=aboutcontent.module.css.map */