@import '../../../../../styles/partial/vars';

.wrapper {
  h1 {
    margin-bottom: 18px;
    color: $blue;
  }
  .section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    h4 {
      color: $red;
    }
    p {
      span {
        display: block;
      }
    }
    .rightSection {
      padding: 0 30px;
    }
  }
}
