@import '../../styles/partial/vars';

.gridBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 60px;
  padding-bottom: 30px;
  grid-gap: 33px;

  .headingBlock {
    font-size: 40px;
    color: $blue2;
    text-transform: uppercase;
  }

  .sideBlock {
    padding-top: 12px;
    
    .title {
      color: $blue2;
      font-size: 18px;
    }

    .content {
      margin: 30px 0;
    }

    .link {
      a {
        color: $red2;
        text-decoration: none;
      }
    }
  }
}