@import '../../../styles/partial/vars';

.wrapper {
  .tabContent {
    margin-top: 30px;
  }
  :global(._heading) {
    margin-top: 60px;
  }
  .contentCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .content {
      margin-bottom: 30px;
      h5 {
        color: $red;
      }
      .contentElement {
        span {
          display: block;
          a {
            color: $blue2;
          }
        }
      }
    }
  }
}
