.wrapper {
  background-size: cover;
}

.wrapper .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .contentWrapper {
  width: 50%;
  padding: 60px 0;
}

.wrapper .contentWrapper .heading h1 {
  color: #034EA2;
}

.wrapper .contentWrapper .contentList {
  font-family: "PT Sans", sans-serif;
}

.wrapper .contentWrapper .contentList ul {
  position: relative;
  list-style: none;
  padding: 0;
}

.wrapper .contentWrapper .contentList ul li {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .contentWrapper .contentList ul li svg {
  margin-right: 12px;
}
/*# sourceMappingURL=strategicobjectives.module.css.map */