@import '../../../../styles/partial/vars';

.wrapper {
  .heading {
    h1 {
      color: $blue;
    }
  }
  .contentWrapper {
    padding: 60px 0;
    background: $grey;
    :global(._section) {
      margin-bottom: 30px;
    }
  }
}
