.wrapper .heading h1 {
  color: #034EA2;
}

.wrapper .contentWrapper {
  padding: 60px 0;
  background: #ebe9e5;
}

.wrapper .contentWrapper :global(._section) {
  margin-bottom: 30px;
}
/*# sourceMappingURL=aml.module.css.map */