@import '../../styles/partial/vars';

.featuresBenefits {

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  @media all and (max-width: 768px) {
    flex-direction: column;
  }

  &.mobFeaturesBenefits {
    @media all and (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  .block {
    padding: 18px;

    @media all and (max-width: 768px) {
      display: flex;
      justify-content: center;
    }

    &.table {
      flex: 1;
    }

    ul {
      list-style: none;
      padding: 0;
      position: relative;
      li {
        margin-bottom: 12px;
        display: flex;
        svg {
          margin-right: 12px;
        }
      }
    }
  }
}