@import '../../styles/partial/vars';

.wrapper {
  .panel {
    display: flex;
    flex-direction: column;
    background: $grey;
    padding: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    .row {
      display: flex;
      width: 100%;
      .number {
        width: 45px;
      }
      .primary {
        flex-grow: 1;
        color: $blue2;
      }
      .arrow {
        width: 45px;
      }
    }
    .expandedPanel {
      display: none; 
      margin-left: 45px;
      margin-top: 12px;
    }
    &:global(.active) {
      .expandedPanel {
        display: block;
      }
    }
    &:global(.compact) {
      &:global(.active) {
        .primary {
          color: $red;
        }
      }
      .row {
        .primary {
          order: 2;
        }
        .arrow {
          order: 1;
        }
      }
    }
  }
}