.wrapper .headings {
  margin-bottom: 30px;
}

.wrapper .headings h1 {
  color: #034EA2;
}

.wrapper .innerContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -30px;
}
/*# sourceMappingURL=valuesandethics.module.css.map */