@import '../../../styles/partial/vars';

.niblCapital {
  .basicText {
    margin-bottom: 12px;
  }

  .capitalTbl {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;

    @media all and (max-width: 425px) {
      font-size: 14px;
    }

    .cellOne {
      @media all and (max-width: 425px) {
        padding: 0 6px;
      }
    }
  
    .cellTwo {
      grid-column: 2/4;
      text-align: center;

      @media all and (max-width: 425px) {
        padding: 0 6px;
      }
    }
    .cellThree {
      grid-column: 4/6;
      text-align: center;

      @media all and (max-width: 425px) {
        padding: 0 6px;
      }
    }
    .cellFour {
      grid-column: 6/8;
      text-align: center;

      @media all and (max-width: 425px) {
        padding: 0 6px;
      }
    }
    .cellFive {
      grid-column: 8/9;
      text-align: right;

      @media all and (max-width: 425px) {
        padding: 0 6px;
      }
    }
  }
}