@import '../../styles/base';

.tableWrapper {
  background: red;
  color: #fff;
  padding: 9px;
  .tableHeadWrapper {
    display: flex;
    justify-content: space-between;
    :nth-child(1) {
      flex: 1;
    }
    :nth-child(2) {
      flex: 10;
    }
    :nth-child(3) {
      flex: 2;
    }
  }
}
