@import "../../styles/base.scss";

.wrapper {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9990;
  background: #fff;
  border-radius: 50%;
  font-size: 24px;
  color: $blue2;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  visibility: hidden;
  justify-content: center;
  transition: all .3s ease;
  box-shadow: 0 0 2px 1px transparentize($blue2, 0.6);
  
  &.active {
    opacity: .6;
    visibility: visible;
    transition: all .3s ease;

    &:hover {
      opacity: 1;
      transition: all .3s ease;
    }
  }
}