@import '../../../styles/partial/vars';

.wrapper {
  .formBlocks {
    .block {
      display: flex;
      justify-content: space-between;
      select {
        width: 65%;
        margin-bottom: 12px;
        padding: 9px 30px;
        border: 1px solid $borderGrey;
        color: #c1c1c1;
      }
      input {
        width: 65%;
        margin-bottom: 12px;
        padding: 9px 30px;
        border: 1px solid $borderGrey;
      }
    }
  }
}