.tabnavWrapper {
  margin-bottom: 60px;
}

/* Banking Days Tbl block */
.gridBlock {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}

.day {
  grid-column: 2/7;
}

.total {
  grid-column: 7/9;
  text-align: right;
}