@import '../../styles/base.scss';

.wrapper {
  color: #fff;
  position: relative;
  img {
    width: 100%;
  }
  .textWrapper {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    .heading {
      width: 60%;
      h1 {
        text-transform: none;

        @media all and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
    .text {
      width: 500px;
      font-size: 14px;

      @media all and (max-width: 425px) {
        display: none;
      }
      
    }
    a {
      color: #fff;

      @media all and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}
