/* Saving Accounts Css Here */
.savingAccount {
  margin-top: 30px;
}

.savingAccount .gridWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.savingAccount .gridWrapper .sn {
  width: 45px;
}

.savingAccount .gridWrapper .details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.savingAccount :global(._panel) {
  background: #ffffff;
}

.savingAccount .primaryPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.savingAccount .primaryPanel p {
  margin-bottom: 0;
}

.savingAccount .primaryPanel a {
  margin-right: 15px;
}
/*# sourceMappingURL=downloads.module.css.map */