@import "../../../../styles/base.scss";

.wrapper {
  padding: 75px 0;

  .outer {
    display: flex;
    justify-content: flex-end;
  }
  .contentWrapper {
    width: 50%;
    padding: 60px 0;
    .heading {
      h1 {
        color: $blue;
      }
    }
    .contentList {
      font-family: $secondaryFont;
      ul {
        position: relative;
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 12px;
          display: flex;
          svg {
            margin-right: 12px;
          }
        }
      }
    }
  }
}
