@import '../../../styles/partial/vars';

.wrapper {
  .innerWrapper {
    padding: 60px 0;
    background: $grey;
    :global(.table-contents) {
      background: $white;
    }
    .tableHeadTitles {
      display: flex;
      justify-content: space-between;
      width: 100%;
      span {
        flex: 3;
        text-align: center;
        &:first-child{
          text-align: left;
          flex: 1;
        }
        &:last-child {
          text-align: right;
          flex: 1;
        }
      }
    }
    .tableBodyElements {
      display: flex;
      justify-content: space-between;
      width: 100%;
      span {
        flex: 3;
        text-align: center;
        .flag {
          margin-left: 15px;
        }
        &:first-child{
          text-align: left;
          flex: 1;
        }
        &:last-child {
          text-align: right;
          flex: 1;
        }
      }
    }
  }
}
