.wrapper .innerWrapper {
  padding: 60px 0;
  background: #ebe9e5;
}

.wrapper .innerWrapper :global(.table-contents) {
  background: #ffffff;
}

.wrapper .innerWrapper .tableHeadTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wrapper .innerWrapper .tableHeadTitles span {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: center;
}

.wrapper .innerWrapper .tableHeadTitles span:first-child {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .innerWrapper .tableHeadTitles span:last-child {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .innerWrapper .tableBodyElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wrapper .innerWrapper .tableBodyElements span {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: center;
}

.wrapper .innerWrapper .tableBodyElements span .flag {
  margin-left: 15px;
}

.wrapper .innerWrapper .tableBodyElements span:first-child {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .innerWrapper .tableBodyElements span:last-child {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=styles.module.css.map */