.wrapper .contentHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wrapper .contentHeader .sn {
  width: 45px;
}

.wrapper .contentHeader .details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper :global(._panel) {
  background: #ffffff;
}

.wrapper .primaryPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .primaryPanel p {
  margin-bottom: 0;
}

.wrapper .primaryPanel a {
  margin-right: 15px;
}
/*# sourceMappingURL=baselDisclosure.module.css.map */