@import '../../../styles/partial/vars';



.calculatorWrapper {
  padding: 80px 0;
}

.faqWrapper {
  padding-bottom: 80px;
}

.blockWrapper {
  background: $grey;
  :global(.white-big-title-block) {
    background: $white;
    border-right: 1px solid $grey;
  }
}

.forexWrapper {
  margin-top: 45px;
}