.wrapper {
  :global(.heading) {
    @media all and (max-width: 425px) {
      text-align: center;
    }
  }

  :global(.tab-nav-list) {
    margin-bottom: 30px;
  }
}

/* CSR LATEST & FEATURED CSS */
.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: -25px;
  .card {
    padding: 25px;
    position: relative;

    @media all and (max-width: 768px) {
      grid-column: 1/4;
       img {
         width: 100%;
       }
    }
  }
}



/* CSR DETAIL PAGE CSS */
@import '../../../styles/partial/vars';

.wrapper {
  :global(.heading) {
    h1 {
      text-transform: none;
    }
  }
}

.content {
  .publishedDetail {
    margin-bottom: 15px;
    span {
      color: $red;
      margin-bottom: 18px;
    }
  }
  img {
    margin-bottom: 18px;
  }
}

.moreNews {
  padding-top: 80px;
  .cardWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: -25px;
    :global(._card-text) {
      background: $grey;
    }
    .card {
      padding: 25px;
    }
  }
}