@import "../../../../styles/base.scss";

.bigTitleSetWrapper {
  padding: 80px 0;
  opacity: 0;

  @media all and (max-width: 768px) {
    padding: 45px 0;
  }
}

.bigTitleBlockSetFlex {
  display: flex;
  justify-content: space-between;
  box-shadow: $boxShadow;

  @media all and (max-width: 768px) {
    flex-direction: column;
    box-shadow: none;
  }

  :global(.single-block) {
    flex: 1;
    border-right: 1px solid #fff;
    padding: 0;
    box-shadow: none;
    &:last-child {
      border-right: none;
    }

    @media all and (max-width: 768px) {
      border: none;
      margin-bottom: 30px;
      box-shadow: $boxShadow;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  :global(.arrows) {
    .withArrows {
      .flexSection {
        display: flex;
        svg {
          color: $red;
          font-size: 22px;
        }
      }
    }
  }
  span {
    display: block;
    margin-bottom: 6px;
    font-family: $primaryFont;
  }
  @media all and (max-width: 425px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
