@import '../../../styles/base.scss';

.wrapper {
  .greyInner {
    padding-top: 15px;
    padding-bottom: 50px;

    @media all and (max-width: 768px) {
      padding-top: 45px;
      padding-bottom: 45px;
    }

    .heading {
      margin-top: 30px;
      margin-bottom: 18px;
      color: $blue;
      font-size: 36px;
      text-transform: uppercase;
      margin-bottom: 45px;
      font-family: $primaryFont;

      @media all and (max-width: 768px) {
        margin-top: 0;
        text-align: center;
      }
    }

    @media all and (max-width: 768px) {
      :global(.tab-nav-list) {
        display: none;
      }
    }

    :global(.common-class-btn) {
      margin-top: 15px;
    }
  }

  .moreAcc {
    padding: 60px 0;

    .gridBlock {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.tabs {
  margin-top: 35px;
}