@import "../../../styles/base";

.slider {
  width: 100%;
  // height: 648px;
  img {
    width: 100%;
    // height: 648px;
  }
}

// Products Section
.productWrapper {
  padding: 60px;
}

.accountsWrapper {
  margin-top:50px;
  h1 {
    color: $blue;
    margin-bottom: 30px;
  }

  @media all and (max-width: 425px) {
    height: auto;
  }
}

.fullBlock {
  display: flex;
  justify-content: space-between;
  @media all and (max-width: 425px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.halfBlock {
  :global(.vertical-image) {
    opacity: 0;
  }
}

.halfBlockFlexed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  :global(.commonWrapper) {
    height: 298px;
    opacity: 0;
  }
  @media all and (max-width: 425px) {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
}
.cardSpace {
  margin-right: 50px;
}

// Calculator Section
.calculator {
  font-family: $primaryFont;
  height: 360px;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  :global(.block-big-title) {
    width: 600px;
  }
}
.calculatorElements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  .calcElementInner {
    position: relative;
    input {
      width: 400px;
      height: 25px;
      outline: none;
      border: 1px solid #d0d0d0;
      border-radius: 3px;
    }
    span {
      position: absolute;
      right: 0;
      background: #ebe9e5;
      top: 0;
      bottom: 0;
      border: 1px solid #d0d0d0;
      width: 60px;
      text-align: center;
      border-radius: 3px;
      // padding-top: 3px;
    }
  }
}
.button {
  // margin-left: 150px;
  margin-top: 18px;
  margin-left: 150px;
  button {
    margin-right: 18px;
  }
}

.stockExchange {
  p {
    margin-top: 0;
    color: $red;
  }
  .stockExchangeInner {
    display: flex;
    justify-content: space-between;
    width: 55%;
    span {
      display: block;
      margin-bottom: 9px;
    }
  }
}

// Featured Section
.featuredWrapper {
  background: $grey;
}
.featured {
  font-family: $primaryFont;
  
  @media all and (max-width: 425px) {
    height: auto;
  }
}
.bigBlock {
  display: flex;
  justify-content: space-between;

  @media all and (max-width: 425px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.bigBlockLeft {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  :global(.commonWrapper) {
    height: 298px;
    box-shadow: 0px 0px 12px 0px $boxShadow;
  }
  @media all and (max-width: 425px) {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
}

// ForexSlider
.forexSlider {
  background: #fff;
  padding: 30px 45px;
  position: relative;
  .slide {
    img {
      float: left;
      margin-right: 12px;
      margin-top: 6px;
    }
    .forexValue {
      span {
        display: block;
      }
    }
  }
}
.more {
  float: right;
  margin-top: 30px;
  text-decoration: none;
  color: $red;
}

// Loan Section
.loanWrapper {
  background: $grey;
  padding-top: 75px;
  h1 {
    margin-bottom: 30px;
    color: $blue;
  }
  a {
    font-family: $primaryFont;
  }
}

.minimalBlockFlex {
  display: flex;
  justify-content: space-between;
  margin: -18px;
  @media all and (max-width: 425px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .block{
    padding: 18px;
    opacity: 0;
    h4 {
      color: $red;
      margin-bottom: 0;
    }
    p {
      margin-top: 18px;
      margin-bottom: 45px;
    }
    a {
      color: $blue;
    }
  }
}
.bigTitleBlockSet {
  box-shadow: 0px 0px 12px 0px $boxShadow;
  background: $grey;
  :global(.single-block) {
    background-color: #fff;
    border-right: 1px solid $grey !important;
    &:last-child {
      border-right: none;
    }
  }
  span {
    display: block;
    margin-bottom: 6px;
    font-family: $primaryFont;
  }
}

.calculatorWrap {
  padding: 80px 0;

  @media all and (max-width: 425px) {
    display: none;
  }
}

/* Featured Banner Section */

/* Latest News Section */
.newsWrapper {
  padding-bottom: 75px;
  background: #fff;

  .newsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    position: relative;
    padding-bottom: 60px;
    margin-top: 50px;

    .newsContent {
      margin-top: 30px;
      width: 75%;

      .heading {
        color: $blue;
        font-size: 18px;
        font-family: $primaryFont;
        font-weight: 500;
        margin-bottom: 15px;
      }

      .newsLink {
        position: absolute;
        bottom: 0;
        a {
          color: $red;
          text-decoration: none;
        }
      }
    }
  }
}
