.iconBlockWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 18px;
}

.iconBlockWrapper p {
  color: #ED1C24;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 30px;
}
/*# sourceMappingURL=styles.module.css.map */