@import "../../../styles/base";

.iconBlockWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 30px;
  flex: 1;
  margin: 0 18px;
  p {
    color: $red;
    font-family: $primaryFont;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 30px;
  }
}
