@import "../../styles/partial/vars";

#splash-slider {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparentize($color: #003E92, $amount: 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  
  // .splash-slide-wrap {
  //   display: flex;
  //   align-items: center;
  // }

  .slider-wrap {
    width: 800px;
    max-width: 100%;
    position: relative;

    img {
      max-height: 90vh;
      margin: auto;
    }

    .close-slider {
      position: absolute;
      right: -30px;
      top: 15px;
      z-index: 10;
      cursor: pointer;
    }

    .slick-dots {
      list-style: none;
      display: flex !important;
      justify-content: center;
      margin: 0;
      position: absolute;
      bottom: -18px;
      width: 100%;

      li {
        margin: 0 6px;

        button {
          background: #fff;
          display: block;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          border: none;
          text-indent: -9999px;
          padding: 0;
        }

        &.slick-active {

          button {
            background: $red2;
          }
        }
      }
    }
  }
}