.tabNavArrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabNavArrows .arrow {
  cursor: pointer;
}

.tabNavArrows .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tabNavArrows .items .item {
  color: #3c3c3c;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tabNavArrows .items .item img {
  margin-bottom: 9px;
  width: 50px;
  max-height: 40px;
}

@media all and (max-width: 425px) {
  .tabNavArrows .items .item img {
    width: 30px;
    max-height: 20px;
  }
}

.tabNavArrows .items .item img.redIcon {
  display: none;
}

.tabNavArrows .items .item img.greyIcon {
  display: block;
}

@media all and (max-width: 425px) {
  .tabNavArrows .items .item span {
    font-size: 14px;
  }
}

.tabNavArrows .items .item.active {
  color: #ED1C24;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tabNavArrows .items .item.active img.greyIcon {
  display: none;
}

.tabNavArrows .items .item.active img.redIcon {
  display: block;
}
/*# sourceMappingURL=TabNavWithArrows.module.css.map */