@import "../../styles/partial/vars";

.tabNavArrows {
  display: flex;
  align-items: center;

  .arrow {
    cursor: pointer;
  }

  .items {
    display: flex;
    flex-grow: 1;

    .item {
      color: $lightBlack;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      transition: all .3s ease;
      
      img {
        margin-bottom: 9px;
        width: 50px;
        max-height: 40px;

        @media all and (max-width: 425px) {
          width: 30px;
          max-height: 20px;
        }

        &.redIcon {
          display: none;
        }
        &.greyIcon {
          display: block;
        }
      }

      span {
        @media all and (max-width: 425px) {
          font-size: 14px;
        }
      }
      
      &.active {
        color: $red;
        transition: all .3s ease;
        img {
          &.greyIcon {
            display: none;
          }
          &.redIcon {
            display: block;
          }
        }
      }
    }
  }
}