.wrapper {
  position: relative;
}

.wrapper img {
  width: 100%;
}

.wrapper .flexSection {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
}

@media all and (max-width: 1024px) {
  .wrapper .flexSection .block img {
    width: 180px;
  }
}

@media all and (max-width: 425px) {
  .wrapper .flexSection .block img {
    width: 90px;
  }
}

.wrapper .flexSection .blockRight {
  text-align: right;
  color: #ffffff;
}

@media all and (max-width: 768px) {
  .wrapper .flexSection .blockRight h1 {
    font-size: 18px;
  }
}

@media all and (max-width: 375px) {
  .wrapper .flexSection .blockRight h1 {
    font-size: 16px;
  }
}

@media all and (max-width: 320px) {
  .wrapper .flexSection .blockRight h1 {
    font-size: 14px;
  }
}

.wrapper .flexSection .blockRight .description {
  width: 360px;
  margin-top: 15px;
}

.wrapper .flexSection .blockRight .description p {
  font-size: 18px;
}

@media all and (max-width: 768px) {
  .wrapper .flexSection .blockRight .description p {
    font-size: 14px;
  }
}

@media all and (max-width: 425px) {
  .wrapper .flexSection .blockRight .description {
    display: none;
  }
}

.wrapper .flexSection .blockRight button {
  color: #fff;
}

@media all and (max-width: 768px) {
  .wrapper .flexSection .blockRight button {
    font-size: 14px;
  }
}
/*# sourceMappingURL=secondaryBanner.module.css.map */