@import '../../styles/partial/vars';

.wrapper {
  position: relative;
  img {
    width: 100%;
  }
  .flexSection {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    left: 0;
    right: 0;
    .block {
      img {
        @media all and (max-width: 1024px) {
          width: 180px;
        }

        @media all and (max-width: 425px) {
          width: 90px;
        }
      }
    }
    .blockRight {
      text-align: right;
      color: $white;

      h1 {
        @media all and (max-width: 768px) {
          font-size: 18px;
        }

        @media all and (max-width: 375px) {
          font-size: 16px;
        }

        @media all and (max-width: 320px) {
          font-size: 14px;
        }
      }

      .description {
        width: 360px;
        margin-top: 15px;
        p {
          font-size: 18px;

          @media all and (max-width: 768px) {
            font-size: 14px;
          }
        }

        @media all and (max-width: 425px) {
          display: none;
        }
      }
      button {
        color: #fff;

        @media all and (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}