@import '../../../styles/partial/vars';

.wrapper {
  .contentHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .sn {
      width: 45px;
    }
    .details {
      flex-grow: 1;
    }
  }

  .primaryPanel {
    display: flex;
    justify-content: space-between;
    p {
      margin-bottom: 0;
      color: $blue2;

      @media all and (max-width: 375px) {
        font-size: 14px;
      }
    }

    a {
      margin-right: 15px;

      @media all and (max-width: 375px) {
        margin-right: 9px;
      }
      @media all and (max-width: 320px) {
        margin-right: 3px;
      }
    }
  }
}