@import '../../../styles/partial/vars';

.wrapper {
  :global(.heading) {
    margin-bottom: 18px;
  }
  :global(.table-contents){
    background: $grey;
  }
  .gridWrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    .saving {
      grid-column: 2/12;
    }
    .annum {
      text-align: right;
    }
  }
  .bottomSection {
    .noteText {
      color: $red;
      margin-top: 60px; 
      margin-bottom: 30px;
    }
    .tabContent {
      margin-top: 30px;
    }

    :global(.tab-nav-list) {
      @media all and (max-width: 425px) {
        width: auto;
        overflow-x: auto;
        ul {
          width: max-content;
        }
      }
    }
  }
  .depositsTable {
    :global(.table-contents) {
      // background: $grey;
    }
  }
}