.wrapper {
  padding-bottom: 60px;
  background: #ebe9e5;
}

.wrapper .heading h1 {
  margin-bottom: 15px;
  color: #034EA2;
}

.wrapper h4 {
  color: #ED1C24;
}

.wrapper .flexSection {
  margin-top: 12px;
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .flexSection .flexItems span {
  display: block;
  margin-bottom: 6px;
}

.wrapper .stockChart {
  margin-top: 75px;
}

/* Stock Chart css*/
.detailLink a {
  margin-left: 6px;
  color: #ED1C24;
}
/*# sourceMappingURL=stock.module.css.map */