@import '../../../../styles/partial/vars';

.wrapper {
  padding-bottom: 60px;
  background: $grey;
  .heading {
    h1 {
      margin-bottom: 15px;
      color: $blue;
    }
  }
  h4 {
    color: $red;
  }
  .flexSection {
    margin-top: 12px;
    width: 290px;
    display: flex;
    justify-content: space-between;
    .flexItems {
      span {
        display: block;
        margin-bottom: 6px;
      }
    }
  }
  .stockChart {
    margin-top: 75px;
  }
}

/* Stock Chart css*/
.detailLink {
  a {
    margin-left: 6px;
    color: $red;
  }
}