.language-switcher {
  position: relative;
  color: #ffffff;
  margin-right: 30px;
}

.language-switcher .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.language-switcher .more {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: #034EA2;
  width: 69px;
  margin-left: -9px;
}

.language-switcher .more ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.language-switcher .more ul li {
  padding: 3px 9px;
  cursor: pointer;
}

.language-switcher:hover .more {
  max-height: 100px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
/*# sourceMappingURL=LanguageSwitcher.css.map */