@import '../../styles/partial/vars';

.top {
  margin-bottom: 30px;
}
.tableGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}
.buying {
  grid-column: 4;
  text-align: center
}
.others {
  grid-column: 6;
  text-align: center;
}
.selling {
  grid-column: 8;
  text-align: right;
}
.flag {
  img {
    margin-right: 15px;
  }
  text-transform: uppercase;

  @media all and (max-width: 768px) {
    grid-column: 2/4;
  }
}
:global(.table-contents) {
  background: $grey;
}

.datePicker {
  display: flex;
}

.fakeDateInput {
  position: relative;
  margin-right: 9px;

  input {
    width: 60px;
    padding: 3px 24px 3px 9px;
    cursor: pointer;
    background: none;
    border: 1px solid #D0D0D0;
  }

  svg {
    position: absolute;
    right: 6px;
    top: 9px;
    pointer-events: none;
  }
}

.empty {
  text-align: center;
  padding: 15px 0;
}