.wrapper .greyBack {
  background: #ebe9e5;
  padding: 60px 0;
}

.wrapper .greyBack .heading {
  color: #034EA2;
  margin-bottom: 30px;
}

.wrapper .greyBack .contentWrapper span {
  display: inline-block;
  color: #ED1C24;
  margin-left: 3px;
}

.wrapper .greyBack .features ul {
  list-style: none;
  padding: 0;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.wrapper .greyBack .features ul li {
  margin-bottom: 12px;
  text-align: center;
}

.wrapper .greyBack .features ul li svg {
  margin-right: 12px;
}

.wrapper .contentHeaderWrapper {
  margin-top: 60px;
}

.wrapper .contentHeaderWrapper span:first-child {
  width: 45px;
}

.wrapper .contentHeaderWrapper span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.expansionPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expansionPanel p {
  margin-bottom: 0;
}

.expansionPanel img {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
/*# sourceMappingURL=mobileBanking.module.css.map */