@import '../../../../styles/partial/vars';

.wrapper {
  .greyBack {
    background: $grey;
    padding: 60px 0;
    .heading {
      color: $blue;
      margin-bottom: 30px;
    }
    .contentWrapper {
      span {
        display: inline-block;
        color: $red;
        margin-left: 3px;
      }
    }
    .features {
      ul {
        list-style: none;
        padding: 0;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        li {
          margin-bottom: 12px;
          text-align: center;
          svg {
            margin-right: 12px;
          }
        }
      }
    }
  }
  .contentHeaderWrapper {
    margin-top: 60px;
    span {
      &:first-child {
        width: 45px;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
    }
  }
}

.expansionPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-bottom: 0;
  }
  img {
    width: 15px;
    height: 15px;
    margin-right: 15px;
  }
}