@import '../../styles/partial/vars';

.search {
  display: flex;
  justify-content: center;

  .icon{
    border: 1px solid $borderGrey;
    background: $white;
    border-right: none;
    padding: 6px;
  }

  input {
    width: 600px;
    border: 1px solid $borderGrey;
    padding: 6px 15px;
  }
}