@import '../../styles/base.scss';

.wrapper {
  h2 {
    color: $blue2;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
  .form {
    padding: 30px;

    input, select {
      height: 36px;
    }

    input, select, textarea {

      &:active, &:focus {
        border: 1px solid $blue2 !important;
      }
    }
  }
}