@import "../../styles/base.scss";

.wrapper {
  h1 {
    margin-bottom: 18px;
    color: $blue;
  }
  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 60px;
    .leftSection {
      grid-column: 1/3;
      padding-right: 30px;

      @media all and (max-width: 768px) {
        grid-column: 1/4;
        margin-bottom: 15px;
        padding-right: 0;
        text-align: center;
      }
    }

    .rightSection {
      @media all and (max-width: 768px) {
        grid-column: 1/4;
        text-align: center;
      }
    }
    h4 {
      color: $red;
    }
    p {
      span {
        display: block;
      }
    }
  }
}

.blockHeading {
  color: $blue2;
  display: block;
  font-size: 24px;
  margin-bottom: 21px;
}