@import '../../styles/partial/vars';

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: -18px;
  padding: 60px 0;

  @media all and (max-width: 768px) {
    flex-direction: column;
    padding: 45px 0;
  }

}

.block {
  color: $white;
  :global(.grey-content-card) {
    background: $greyishBlack;
  }

  h4 {
    font-size: 21px;
  }
  
  p {
    margin-bottom: 45px;
  }

  a {
    color: $red2;
  }
}