@import '../../../../styles/partial/vars';

.wrapper {
  .headings {
    margin-bottom: 30px;
    h1 {
      color: $blue2;
      margin-bottom: 36px;
    }
  }
  .innerContents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -30px;
  }
}
