@import '../../../styles/partial/vars';

.wrapper {
  .tabNavWrapper {
    padding: 60px 0;
  }
  .greyBack {
    padding-bottom: 60px;
    margin-top: 60px;
  }

  .valuesEthicWrapper {
    padding-top: 60px;
    padding-bottom: 75px;
  }
}
