.timelineList {
  position: relative;
  margin-bottom: 30px;
}

@media all and (max-width: 425px) {
  .timelineList {
    overflow-y: auto;
    width: auto;
  }
}

.timelineList ul {
  list-style: none;
}

@media all and (max-width: 425px) {
  .timelineList ul {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.timelineList ul li {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 60px;
}

.timelineList ul li .dot {
  background: #3c3c3c;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.timelineList ul li .date {
  position: absolute;
  top: -30px;
  left: -9px;
  font-size: 14px;
}

@media all and (max-width: 425px) {
  .timelineList ul li .date {
    top: 21px;
  }
}

.timelineList ul li:global(.active) {
  color: #ED1C24;
  border: 1px solid #ED1C24;
  border-radius: 9px;
}

.timelineList ul li:global(.active) .dot {
  background: #ED1C24;
}

.timelineList .border {
  height: 1px;
  background: #707070;
  width: 100%;
  position: absolute;
  top: 9px;
}
/*# sourceMappingURL=timeline.module.css.map */