@import '../../styles/partial/vars';

.timelineList {
  position: relative;
  margin-bottom: 30px;

  @media all and (max-width: 425px) {
    overflow-y: auto;
    width: auto;
  }

  ul {
    list-style: none;

    @media all and (max-width: 425px) {
      width: max-content;
    }

    li {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 60px;
      .dot {
        background: $lightBlack;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        display: inline-block;
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
      .date {
        position: absolute;
        top: -30px;
        left: -9px;
        font-size: 14px;

        @media all and (max-width: 425px) {
          top: 21px;
        }
      } 
      &:global(.active) {
        color: $red;
        border: 1px solid $red;
        border-radius: 9px;
        .dot {
          background: $red;
        }
      }
    }
  }
  .border {
    height: 1px;
    background: $darkGrey;
    width: 100%;
    position: absolute;
    top: 9px;
  }
}