@import '../../styles/base';
@import '../../styles/partial/vars';

.tableBodyWrapper {
  margin: 0;

  .tableContents {
    display: flex;
    justify-content: space-between;
    padding: 12px 9px;
    margin-top: 6px;
    background: $grey;

    
    @media all and (max-width: 375px) {
      padding: 12px;
      font-size: 14px;
    }
  }

  &:nth-child(odd) {
    
    .tableContents {
      background: #a0a0a0;
      color: #fff;
    }
  }
}
