@import '../../styles/partial/vars';

.flexBlock {
  display: flex;
  .leftBlock {
    flex: 1;
  }

  .rightBlock {
    background: $white;
    flex: 1;
    width: 100%;
    padding: 45px;
    
    h2 {
      color: $blue;
      margin-bottom: 30px;
    }

    .element {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      
      .elemTitle {
        color: $red2;
        margin-bottom: 12px;
      }

      .elemContent {
        display: flex;
        flex-direction: column;

        span {
          margin-bottom: 6px;
        }
      }
    }
  }
}