.innerWrapper {
  padding-top: 60px;
  background: #ebe9e5;
  padding-bottom: 60px;
}

@media all and (max-width: 425px) {
  .innerWrapper :global(.tab-nav-list) {
    width: auto;
    overflow: auto;
  }
  .innerWrapper :global(.tab-nav-list) ul {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
/*# sourceMappingURL=shareholder.module.css.map */