@import '../../../../styles/base';

.wrapper {
  .greyInner {
    padding-top: 60px;
    background: $grey;
    .heading {
      color: $blue;
      margin-bottom: 30px;
    }
    .flexSection {
      font-family: $primaryFont;
      display: flex;
      justify-content: space-between;
      margin: -18px;
      margin-bottom: 60px;
      :global(.single-block) {
        flex: 1;
        margin: 18px;
        background: #fff;
        box-shadow: $boxShadow;
        padding-bottom: 40px;
      }
      form {
        position: relative;
        .formElements {
          margin-bottom: 6px;
          label {
            width: 30%;
          }
          input {
            width: 70%;
            border: 1px solid #D0D0D0;
            background: $grey;
          }
        }
        .buttons {
          display: flex;
          position: absolute;
          left: 30%;
          margin-top: 15px;
          button {
            margin-right: 15px;
          }
        }
      }
    }
    .bottomSection {
      background-size: cover !important;
      .bottomFlex {
        display: flex;
        justify-content: flex-end;
        padding: 60px;
        padding-bottom: 220px;
        .benifits {
          h1 {
            margin-bottom: 45px;
            color: $blue;
          }
          ul {
            list-style: none;
            padding: 0;
            position: relative;
            li {
              margin-bottom: 9px;
              display: flex;
              svg {
                margin-right: 12px;
                font-size: 22px;
              }
            }
          }
        }
      }
    }
  }
}