.wrapper .greyInner {
  padding-top: 60px;
  background: #ebe9e5;
}

.wrapper .greyInner .heading {
  color: #034EA2;
  margin-bottom: 30px;
}

.wrapper .greyInner .flexSection {
  font-family: "PT Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -18px;
  margin-bottom: 60px;
}

.wrapper .greyInner .flexSection :global(.single-block) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 18px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px #8080807d;
          box-shadow: 0px 0px 10px 0px #8080807d;
  padding-bottom: 40px;
}

.wrapper .greyInner .flexSection form {
  position: relative;
}

.wrapper .greyInner .flexSection form .formElements {
  margin-bottom: 6px;
}

.wrapper .greyInner .flexSection form .formElements label {
  width: 30%;
}

.wrapper .greyInner .flexSection form .formElements input {
  width: 70%;
  border: 1px solid #D0D0D0;
  background: #ebe9e5;
}

.wrapper .greyInner .flexSection form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 30%;
  margin-top: 15px;
}

.wrapper .greyInner .flexSection form .buttons button {
  margin-right: 15px;
}

.wrapper .greyInner .bottomSection {
  background-size: cover !important;
}

.wrapper .greyInner .bottomSection .bottomFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 60px;
  padding-bottom: 220px;
}

.wrapper .greyInner .bottomSection .bottomFlex .benifits h1 {
  margin-bottom: 45px;
  color: #034EA2;
}

.wrapper .greyInner .bottomSection .bottomFlex .benifits ul {
  list-style: none;
  padding: 0;
  position: relative;
}

.wrapper .greyInner .bottomSection .bottomFlex .benifits ul li {
  margin-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .greyInner .bottomSection .bottomFlex .benifits ul li svg {
  margin-right: 12px;
  font-size: 22px;
}
/*# sourceMappingURL=domesticRemit.module.css.map */