.wrapper :global(.heading) {
  margin-bottom: 18px;
}

.wrapper :global(.table-contents) {
  background: #fff;
}

.wrapper .gridWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.wrapper .gridWrapper .saving {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
}

.wrapper .gridWrapper .annum {
  text-align: right;
}

.wrapper .bottomSection .noteText {
  color: #ED1C24;
  margin-top: 60px;
  margin-bottom: 30px;
}

.wrapper .bottomSection .tabContent {
  margin-top: 30px;
}

.wrapper .depositsTable :global(.table-contents) {
  background: #ebe9e5;
}
/*# sourceMappingURL=interestRates.module.css.map */