@import '../../../../../styles/partial/vars';

.wrapper {
  :global(.heading) {
    margin-bottom: 18px;
  }
  :global(.table-contents){
    background: #fff;
  }
  .gridWrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    .saving {
      grid-column: 2/12;
    }
    .annum {
      text-align: right;
    }
  }
  .bottomSection {
    .noteText {
      color: $red;
      margin-top: 60px; 
      margin-bottom: 30px;
    }
    .tabContent {
      margin-top: 30px;
    }
  }
  .depositsTable {
    :global(.table-contents) {
      background: $grey;
    }
  }
}