@import '../../../styles/partial/vars';

.wrapper {
  .innerWrapper {
    padding: 60px 0;

    @media all and (max-width: 375px) {
      padding: 45px 0;

      :global(.heading) {
        text-align: center;
      }
    }

    .tableHeadTitles {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      width: 100%;

      @media all and (max-width: 425px) {
        font-size: 14px;
      }

      .currency {
        grid-column: 2/4;
        text-align: center;

        img {
          margin-right: 15px;
          max-width: 45px;
          @media all and (max-width: 425px) {
            margin-right: 0;
          }
        }
      }

      .bank {
        grid-column: 5/7;
        text-align: center;
      }

      .address {
        grid-column: 8/10;
        text-align: right;
        @media all and (max-width: 320px) {
          grid-column: 7/10;
        }
      }
    }
    .tableBodyElements {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
    }
  }
}
