@import '../../../../../styles/partial/vars';

.rnd {
  :global(.greyWrapper) {
    padding-bottom: 80px;
  }

  .sectionWrapper {
    padding-top: 80px;
    .tabContentWrapper {
      padding-top: 24px;
    }
  }
}

/* RndTbl css*/
.tblHead {
  display: flex;
  span {
    &:first-child {
      width: 45px;
    }
    &:last-child {
      flex-grow: 1;
    }
  }
}

.expansionPanel {
  .primaryPanel {
    display: flex;
    justify-content: space-between;
    p {
      margin-bottom: 0;
    }
    a {
      margin-right: 15px;
    }
  }
}