@import '../../../styles/partial/vars';

.wrapper {
  :global(.heading) {
    @media all and (max-width: 1024px) {
      text-align: center;
    }
  }

  :global(.banner-text-wrapper) {
    :global(.common-class-btn) {
      button {
        color: #fff;
      }
    }
  }
}

.bigBlock {
  display: flex;
  justify-content: space-between;

  @media all and (max-width: 1024px) {
    flex-direction: column;
  }

  @media all and (max-width: 425px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.bigBlockLeft {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 50px;

  @media all and (max-width: 1024px) {
    justify-content: space-around;
    margin-right: 0;
  }

  :global(.commonWrapper) {
    margin-bottom: 40px;
    box-shadow: 0px 0px 12px 0px $boxShadow;

    @media all and (max-width: 1024px) {
      margin-bottom: 75px;
    }

    @media all and (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
  @media all and (max-width: 425px) {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
}

.bigBlockRight {
  @media all and (max-width: 1024px) {
    display: flex;
    justify-content: center;
  }

  @media all and (max-width: 425px) {
    width: 100%;
  }
}