.tabNavWrapper {
  margin-bottom: 60px;
}


/* Management team table css */
.tblGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;

  .province {
    grid-column: 2/4;
  }

  .managers {
    grid-column: 4/6;
    text-align: center;
  }

  .provinceOffice {
    grid-column: 6/8;
    text-align: right;
  }
}