@import '../../styles/partial/vars';

.wrapper {
  .search {
    width: 218px;
    position: relative;
    input {
      width: 100%;
      background: $grey;
      border: 1px solid $grey;
      height: 30px;
      border-radius: 3px;
    }
    .icon {
      position: absolute;
      top: 0;
      right: 3px;
    }
  }
  .generalTexts {
    margin-top: 15px;
    span {
      margin-bottom: 15px;
      display: block;
      &.redText {
        color: $red;
      }
    }
  }
  .expansionPanel {
    max-height: 1026px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: $grey;
    }
    &::-webkit-scrollbar-thumb {
      background: $darkGrey;
    }
  }
  :global(._panel) {
    background: $white;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid $grey;
    padding: 15px 15px 15px 0;
  }
  .secondary {
    span {
      display: block;
      margin-bottom: 3px;
      font-size: 14px;
    }
  }
}