@import '../../../../styles/partial/vars';

.wrapper {
  :global(.greyWrapper) {
    padding-bottom: 0;
  }
}

.foreignExWrapper {
  :global(.greyWrapper) {
    padding-bottom: 80px;
  }

  .tblWrapper {
    padding-top: 80px;
    :global(.table-contents) {
      background: $grey
    }
  }
}

/* PageWithBasicContent CSS */
.pageWithBasicContent {
  :global(.greyWrapper) {
    padding-bottom: 80px;
  }
}