@charset "UTF-8";
/**
 * ==============================================
 * Dot Elastic
 * ==============================================
 */
.dot-elastic {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotElastic 1s infinite linear;
          animation: dotElastic 1s infinite linear;
}

.dot-elastic::before, .dot-elastic::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -10px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotElasticBefore 1s infinite linear;
          animation: dotElasticBefore 1s infinite linear;
}

.dot-elastic::after {
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotElasticAfter 1s infinite linear;
          animation: dotElasticAfter 1s infinite linear;
}

@-webkit-keyframes dotElasticBefore {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1, 1.5);
            transform: scale(1, 1.5);
  }
  50% {
    -webkit-transform: scale(1, 0.67);
            transform: scale(1, 0.67);
  }
  75% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes dotElasticBefore {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1, 1.5);
            transform: scale(1, 1.5);
  }
  50% {
    -webkit-transform: scale(1, 0.67);
            transform: scale(1, 0.67);
  }
  75% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes dotElastic {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 1.5);
            transform: scale(1, 1.5);
  }
  75% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 1.5);
            transform: scale(1, 1.5);
  }
  75% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes dotElasticAfter {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.67);
            transform: scale(1, 0.67);
  }
  75% {
    -webkit-transform: scale(1, 1.5);
            transform: scale(1, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.67);
            transform: scale(1, 0.67);
  }
  75% {
    -webkit-transform: scale(1, 1.5);
            transform: scale(1, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-box-shadow: 9999px 0 0 -5px #fff;
          box-shadow: 9999px 0 0 -5px #fff;
  -webkit-animation: dotPulse 1.5s infinite linear;
          animation: dotPulse 1.5s infinite linear;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
}

.dot-pulse::before {
  -webkit-box-shadow: 9989px 0 0 -5px #fff;
          box-shadow: 9989px 0 0 -5px #fff;
  -webkit-animation: dotPulseBefore 1.5s infinite linear;
          animation: dotPulseBefore 1.5s infinite linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.dot-pulse::after {
  -webkit-box-shadow: 10009px 0 0 -5px #fff;
          box-shadow: 10009px 0 0 -5px #fff;
  -webkit-animation: dotPulseAfter 1.5s infinite linear;
          animation: dotPulseAfter 1.5s infinite linear;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes dotPulseBefore {
  0% {
    -webkit-box-shadow: 9989px 0 0 -5px #fff;
            box-shadow: 9989px 0 0 -5px #fff;
  }
  30% {
    -webkit-box-shadow: 9989px 0 0 2px #fff;
            box-shadow: 9989px 0 0 2px #fff;
  }
  60%,
  100% {
    -webkit-box-shadow: 9989px 0 0 -5px #fff;
            box-shadow: 9989px 0 0 -5px #fff;
  }
}

@keyframes dotPulseBefore {
  0% {
    -webkit-box-shadow: 9989px 0 0 -5px #fff;
            box-shadow: 9989px 0 0 -5px #fff;
  }
  30% {
    -webkit-box-shadow: 9989px 0 0 2px #fff;
            box-shadow: 9989px 0 0 2px #fff;
  }
  60%,
  100% {
    -webkit-box-shadow: 9989px 0 0 -5px #fff;
            box-shadow: 9989px 0 0 -5px #fff;
  }
}

@-webkit-keyframes dotPulse {
  0% {
    -webkit-box-shadow: 9999px 0 0 -5px #fff;
            box-shadow: 9999px 0 0 -5px #fff;
  }
  30% {
    -webkit-box-shadow: 9999px 0 0 2px #fff;
            box-shadow: 9999px 0 0 2px #fff;
  }
  60%,
  100% {
    -webkit-box-shadow: 9999px 0 0 -5px #fff;
            box-shadow: 9999px 0 0 -5px #fff;
  }
}

@keyframes dotPulse {
  0% {
    -webkit-box-shadow: 9999px 0 0 -5px #fff;
            box-shadow: 9999px 0 0 -5px #fff;
  }
  30% {
    -webkit-box-shadow: 9999px 0 0 2px #fff;
            box-shadow: 9999px 0 0 2px #fff;
  }
  60%,
  100% {
    -webkit-box-shadow: 9999px 0 0 -5px #fff;
            box-shadow: 9999px 0 0 -5px #fff;
  }
}

@-webkit-keyframes dotPulseAfter {
  0% {
    -webkit-box-shadow: 10009px 0 0 -5px #fff;
            box-shadow: 10009px 0 0 -5px #fff;
  }
  30% {
    -webkit-box-shadow: 10009px 0 0 2px #fff;
            box-shadow: 10009px 0 0 2px #fff;
  }
  60%,
  100% {
    -webkit-box-shadow: 10009px 0 0 -5px #fff;
            box-shadow: 10009px 0 0 -5px #fff;
  }
}

@keyframes dotPulseAfter {
  0% {
    -webkit-box-shadow: 10009px 0 0 -5px #fff;
            box-shadow: 10009px 0 0 -5px #fff;
  }
  30% {
    -webkit-box-shadow: 10009px 0 0 2px #fff;
            box-shadow: 10009px 0 0 2px #fff;
  }
  60%,
  100% {
    -webkit-box-shadow: 10009px 0 0 -5px #fff;
            box-shadow: 10009px 0 0 -5px #fff;
  }
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotFlashing 1s infinite linear alternate;
          animation: dotFlashing 1s infinite linear alternate;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -10px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotFlashing 1s infinite alternate;
          animation: dotFlashing 1s infinite alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.dot-flashing::after {
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotFlashing 1s infinite alternate;
          animation: dotFlashing 1s infinite alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.dot-flashing.red {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #984B48;
  color: #fff;
  -webkit-animation: dotFlashingRed 1s infinite linear alternate;
          animation: dotFlashingRed 1s infinite linear alternate;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.dot-flashing.red::before {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #984B48;
  color: #fff;
  -webkit-animation: dotFlashingRed 1s infinite alternate;
          animation: dotFlashingRed 1s infinite alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.dot-flashing.red::after {
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #984B48;
  color: #fff;
  -webkit-animation: dotFlashingRed 1s infinite alternate;
          animation: dotFlashingRed 1s infinite alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes dotFlashing {
  0% {
    background-color: #fff;
  }
  50%,
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes dotFlashing {
  0% {
    background-color: #fff;
  }
  50%,
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@-webkit-keyframes dotFlashingRed {
  0% {
    background-color: #984B48;
  }
  50%,
  100% {
    background-color: rgba(152, 75, 72, 0.2);
  }
}

@keyframes dotFlashingRed {
  0% {
    background-color: #984B48;
  }
  50%,
  100% {
    background-color: rgba(152, 75, 72, 0.2);
  }
}

/**
 * ==============================================
 * Dot Collision
 * ==============================================
 */
.dot-collision {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
}

.dot-collision::before, .dot-collision::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-collision::before {
  left: -5px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotCollisionBefore 2s infinite ease-in;
          animation: dotCollisionBefore 2s infinite ease-in;
}

.dot-collision::after {
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotCollisionAfter 2s infinite ease-in;
          animation: dotCollisionAfter 2s infinite ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes dotCollisionBefore {
  0%,
  50%,
  75%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes dotCollisionBefore {
  0%,
  50%,
  75%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@-webkit-keyframes dotCollisionAfter {
  0%,
  50%,
  75%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes dotCollisionAfter {
  0%,
  50%,
  75%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

/**
 * ==============================================
 * Dot Revolution
 * ==============================================
 */
.dot-revolution {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
}

.dot-revolution::before, .dot-revolution::after {
  content: '';
  display: inline-block;
  position: absolute;
}

.dot-revolution::before {
  left: 0;
  top: -10px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-transform-origin: 2.5px 12.5px;
          transform-origin: 2.5px 12.5px;
  -webkit-animation: dotRevolution 1.4s linear infinite;
          animation: dotRevolution 1.4s linear infinite;
}

.dot-revolution::after {
  left: 0;
  top: -20px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-transform-origin: 2.5px 22.5px;
          transform-origin: 2.5px 22.5px;
  -webkit-animation: dotRevolution 1s linear infinite;
          animation: dotRevolution 1s linear infinite;
}

@-webkit-keyframes dotRevolution {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
            transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 0, 0);
            transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}

@keyframes dotRevolution {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
            transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 0, 0);
            transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}

/**
 * ==============================================
 * Dot Carousel
 * ==============================================
 */
.dot-carousel {
  position: relative;
  left: -9999px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
          box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  -webkit-animation: dotCarousel 1.5s infinite linear;
          animation: dotCarousel 1.5s infinite linear;
}

@-webkit-keyframes dotCarousel {
  0% {
    -webkit-box-shadow: 9989px 0 0 -1px #fff, 9999px 0 0 1px #fff, 10009px 0 0 -1px #fff;
            box-shadow: 9989px 0 0 -1px #fff, 9999px 0 0 1px #fff, 10009px 0 0 -1px #fff;
  }
  50% {
    -webkit-box-shadow: 10009px 0 0 -1px #fff, 9989px 0 0 -1px #fff, 9999px 0 0 1px #fff;
            box-shadow: 10009px 0 0 -1px #fff, 9989px 0 0 -1px #fff, 9999px 0 0 1px #fff;
  }
  100% {
    -webkit-box-shadow: 9999px 0 0 1px #fff, 10009px 0 0 -1px #fff, 9989px 0 0 -1px #fff;
            box-shadow: 9999px 0 0 1px #fff, 10009px 0 0 -1px #fff, 9989px 0 0 -1px #fff;
  }
}

@keyframes dotCarousel {
  0% {
    -webkit-box-shadow: 9989px 0 0 -1px #fff, 9999px 0 0 1px #fff, 10009px 0 0 -1px #fff;
            box-shadow: 9989px 0 0 -1px #fff, 9999px 0 0 1px #fff, 10009px 0 0 -1px #fff;
  }
  50% {
    -webkit-box-shadow: 10009px 0 0 -1px #fff, 9989px 0 0 -1px #fff, 9999px 0 0 1px #fff;
            box-shadow: 10009px 0 0 -1px #fff, 9989px 0 0 -1px #fff, 9999px 0 0 1px #fff;
  }
  100% {
    -webkit-box-shadow: 9999px 0 0 1px #fff, 10009px 0 0 -1px #fff, 9989px 0 0 -1px #fff;
            box-shadow: 9999px 0 0 1px #fff, 10009px 0 0 -1px #fff, 9989px 0 0 -1px #fff;
  }
}

/**
 * ==============================================
 * Dot Typing
 * ==============================================
 */
.dot-typing {
  position: relative;
  left: -9999px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
          box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  -webkit-animation: dotTyping 1.5s infinite linear;
          animation: dotTyping 1.5s infinite linear;
}

@-webkit-keyframes dotTyping {
  0% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  }
  16.667% {
    -webkit-box-shadow: 9989px -10px 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px -10px 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  }
  33.333% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  }
  50% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px -10px 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px -10px 0 0 #fff, 10009px 0 0 0 #fff;
  }
  66.667% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  }
  83.333% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px -10px 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px -10px 0 0 #fff;
  }
  100% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  }
}

@keyframes dotTyping {
  0% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  }
  16.667% {
    -webkit-box-shadow: 9989px -10px 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px -10px 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  }
  33.333% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  }
  50% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px -10px 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px -10px 0 0 #fff, 10009px 0 0 0 #fff;
  }
  66.667% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  }
  83.333% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px -10px 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px -10px 0 0 #fff;
  }
  100% {
    -webkit-box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
            box-shadow: 9989px 0 0 0 #fff, 9999px 0 0 0 #fff, 10009px 0 0 0 #fff;
  }
}

/**
 * ==============================================
 * Dot Windmill
 * ==============================================
 */
.dot-windmill {
  position: relative;
  top: -10px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-transform-origin: 5px 15px;
          transform-origin: 5px 15px;
  -webkit-animation: dotWindmill 2s infinite linear;
          animation: dotWindmill 2s infinite linear;
}

.dot-windmill::before, .dot-windmill::after {
  content: '';
  display: inline-block;
  position: absolute;
}

.dot-windmill::before {
  left: -8.66px;
  top: 15px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
}

.dot-windmill::after {
  left: 8.66px;
  top: 15px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
}

@-webkit-keyframes dotWindmill {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
            transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotateZ(720deg) translate3d(0, 0, 0);
            transform: rotateZ(720deg) translate3d(0, 0, 0);
  }
}

@keyframes dotWindmill {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
            transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotateZ(720deg) translate3d(0, 0, 0);
            transform: rotateZ(720deg) translate3d(0, 0, 0);
  }
}

/**
 * ==============================================
 * Dot Bricks
 * ==============================================
 */
.dot-bricks {
  position: relative;
  top: 5.5px;
  left: -9999px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
          box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
  -webkit-animation: dotBricks 2s infinite ease;
          animation: dotBricks 2s infinite ease;
}

@-webkit-keyframes dotBricks {
  0% {
    -webkit-box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
            box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
  }
  8.333% {
    -webkit-box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
            box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
  }
  16.667% {
    -webkit-box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff, 10004.5px 0 0 0 #fff;
            box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff, 10004.5px 0 0 0 #fff;
  }
  25% {
    -webkit-box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
            box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
  }
  33.333% {
    -webkit-box-shadow: 10004.5px 0 0 0 #fff, 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
            box-shadow: 10004.5px 0 0 0 #fff, 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
  }
  41.667% {
    -webkit-box-shadow: 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
            box-shadow: 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
  }
  50% {
    -webkit-box-shadow: 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff;
            box-shadow: 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff;
  }
  58.333% {
    -webkit-box-shadow: 9993.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff;
            box-shadow: 9993.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff;
  }
  66.666% {
    -webkit-box-shadow: 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff, 9993.5px -11px 0 0 #fff;
            box-shadow: 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff, 9993.5px -11px 0 0 #fff;
  }
  75% {
    -webkit-box-shadow: 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
            box-shadow: 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
  }
  83.333% {
    -webkit-box-shadow: 9993.5px -11px 0 0 #fff, 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
            box-shadow: 9993.5px -11px 0 0 #fff, 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
  }
  91.667% {
    -webkit-box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
            box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
  }
  100% {
    -webkit-box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
            box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
  }
}

@keyframes dotBricks {
  0% {
    -webkit-box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
            box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
  }
  8.333% {
    -webkit-box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
            box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
  }
  16.667% {
    -webkit-box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff, 10004.5px 0 0 0 #fff;
            box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff, 10004.5px 0 0 0 #fff;
  }
  25% {
    -webkit-box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
            box-shadow: 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
  }
  33.333% {
    -webkit-box-shadow: 10004.5px 0 0 0 #fff, 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
            box-shadow: 10004.5px 0 0 0 #fff, 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
  }
  41.667% {
    -webkit-box-shadow: 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
            box-shadow: 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff;
  }
  50% {
    -webkit-box-shadow: 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff;
            box-shadow: 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff;
  }
  58.333% {
    -webkit-box-shadow: 9993.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff;
            box-shadow: 9993.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff, 9993.5px -11px 0 0 #fff;
  }
  66.666% {
    -webkit-box-shadow: 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff, 9993.5px -11px 0 0 #fff;
            box-shadow: 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff, 9993.5px -11px 0 0 #fff;
  }
  75% {
    -webkit-box-shadow: 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
            box-shadow: 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
  }
  83.333% {
    -webkit-box-shadow: 9993.5px -11px 0 0 #fff, 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
            box-shadow: 9993.5px -11px 0 0 #fff, 10004.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
  }
  91.667% {
    -webkit-box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
            box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px -11px 0 0 #fff;
  }
  100% {
    -webkit-box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
            box-shadow: 9993.5px -11px 0 0 #fff, 9993.5px 0 0 0 #fff, 10004.5px 0 0 0 #fff;
  }
}

/**
 * ==============================================
 * Dot Floating
 * ==============================================
 */
.dot-floating {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotFloating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
          animation: dotFloating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}

.dot-floating::before, .dot-floating::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-floating::before {
  left: -12px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotFloatingBefore 3s infinite ease-in-out;
          animation: dotFloatingBefore 3s infinite ease-in-out;
}

.dot-floating::after {
  left: -24px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotFloatingAfter 3s infinite cubic-bezier(0.4, 0, 1, 1);
          animation: dotFloatingAfter 3s infinite cubic-bezier(0.4, 0, 1, 1);
}

@-webkit-keyframes dotFloating {
  0% {
    left: calc(-50% - 2.5px);
  }
  75% {
    left: calc(50% + 102.5px);
  }
  100% {
    left: calc(50% + 102.5px);
  }
}

@keyframes dotFloating {
  0% {
    left: calc(-50% - 2.5px);
  }
  75% {
    left: calc(50% + 102.5px);
  }
  100% {
    left: calc(50% + 102.5px);
  }
}

@-webkit-keyframes dotFloatingBefore {
  0% {
    left: -50px;
  }
  50% {
    left: -12px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: -50px;
  }
}

@keyframes dotFloatingBefore {
  0% {
    left: -50px;
  }
  50% {
    left: -12px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: -50px;
  }
}

@-webkit-keyframes dotFloatingAfter {
  0% {
    left: -100px;
  }
  50% {
    left: -24px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}

@keyframes dotFloatingAfter {
  0% {
    left: -100px;
  }
  50% {
    left: -24px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}

/**
 * ==============================================
 * Dot Fire
 * ==============================================
 */
.dot-fire {
  position: relative;
  left: -9999px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-box-shadow: 9999px 15px 0 -5px #fff;
          box-shadow: 9999px 15px 0 -5px #fff;
  -webkit-animation: dotFire 1.5s infinite linear;
          animation: dotFire 1.5s infinite linear;
  -webkit-animation-delay: -.85s;
          animation-delay: -.85s;
}

.dot-fire::before, .dot-fire::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
}

.dot-fire::before {
  -webkit-box-shadow: 9999px 15px 0 -5px #fff;
          box-shadow: 9999px 15px 0 -5px #fff;
  -webkit-animation: dotFire 1.5s infinite linear;
          animation: dotFire 1.5s infinite linear;
  -webkit-animation-delay: -1.85s;
          animation-delay: -1.85s;
}

.dot-fire::after {
  -webkit-box-shadow: 9999px 15px 0 -5px #fff;
          box-shadow: 9999px 15px 0 -5px #fff;
  -webkit-animation: dotFire 1.5s infinite linear;
          animation: dotFire 1.5s infinite linear;
  -webkit-animation-delay: -2.85s;
          animation-delay: -2.85s;
}

@-webkit-keyframes dotFire {
  1% {
    -webkit-box-shadow: 9999px 15px 0 -5px #fff;
            box-shadow: 9999px 15px 0 -5px #fff;
  }
  50% {
    -webkit-box-shadow: 9999px -3.75px 0 2px #fff;
            box-shadow: 9999px -3.75px 0 2px #fff;
  }
  100% {
    -webkit-box-shadow: 9999px -15px 0 -5px #fff;
            box-shadow: 9999px -15px 0 -5px #fff;
  }
}

@keyframes dotFire {
  1% {
    -webkit-box-shadow: 9999px 15px 0 -5px #fff;
            box-shadow: 9999px 15px 0 -5px #fff;
  }
  50% {
    -webkit-box-shadow: 9999px -3.75px 0 2px #fff;
            box-shadow: 9999px -3.75px 0 2px #fff;
  }
  100% {
    -webkit-box-shadow: 9999px -15px 0 -5px #fff;
            box-shadow: 9999px -15px 0 -5px #fff;
  }
}

/**
 * ==============================================
 * Dot Spin
 * ==============================================
 */
.dot-spin {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: transparent;
  color: transparent;
  -webkit-box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 0 white, 12px 0 0 0 white, 8.48656px 8.48656px 0 0 rgba(255, 255, 255, 0), 0 12px 0 0 rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 0 rgba(255, 255, 255, 0), -12px 0 0 0 rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 0 rgba(255, 255, 255, 0);
          box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 0 white, 12px 0 0 0 white, 8.48656px 8.48656px 0 0 rgba(255, 255, 255, 0), 0 12px 0 0 rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 0 rgba(255, 255, 255, 0), -12px 0 0 0 rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 0 rgba(255, 255, 255, 0);
  -webkit-animation: dotSpin 1.5s infinite linear;
          animation: dotSpin 1.5s infinite linear;
}

@-webkit-keyframes dotSpin {
  0%,
  100% {
    -webkit-box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 0 white, 12px 0 0 0 white, 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
            box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 0 white, 12px 0 0 0 white, 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
  }
  12.5% {
    -webkit-box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 0 white, 12px 0 0 0 white, 8.48656px 8.48656px 0 0 white, 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
            box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 0 white, 12px 0 0 0 white, 8.48656px 8.48656px 0 0 white, 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
  }
  25% {
    -webkit-box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 0 white, 8.48656px 8.48656px 0 0 white, 0 12px 0 0 white, -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
            box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 0 white, 8.48656px 8.48656px 0 0 white, 0 12px 0 0 white, -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
  }
  37.5% {
    -webkit-box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 0 white, 0 12px 0 0 white, -8.48656px 8.48656px 0 0 white, -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
            box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 0 white, 0 12px 0 0 white, -8.48656px 8.48656px 0 0 white, -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
  }
  50% {
    -webkit-box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 0 white, -8.48656px 8.48656px 0 0 white, -12px 0 0 0 white, -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
            box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 0 white, -8.48656px 8.48656px 0 0 white, -12px 0 0 0 white, -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
  }
  62.5% {
    -webkit-box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 0 white, -12px 0 0 0 white, -8.48656px -8.48656px 0 0 white;
            box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 0 white, -12px 0 0 0 white, -8.48656px -8.48656px 0 0 white;
  }
  75% {
    -webkit-box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 0 white, -8.48656px -8.48656px 0 0 white;
            box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 0 white, -8.48656px -8.48656px 0 0 white;
  }
  87.5% {
    -webkit-box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 0 white, 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 0 white;
            box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 0 white, 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 0 white;
  }
}

@keyframes dotSpin {
  0%,
  100% {
    -webkit-box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 0 white, 12px 0 0 0 white, 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
            box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 0 white, 12px 0 0 0 white, 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
  }
  12.5% {
    -webkit-box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 0 white, 12px 0 0 0 white, 8.48656px 8.48656px 0 0 white, 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
            box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 0 white, 12px 0 0 0 white, 8.48656px 8.48656px 0 0 white, 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
  }
  25% {
    -webkit-box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 0 white, 8.48656px 8.48656px 0 0 white, 0 12px 0 0 white, -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
            box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 0 white, 8.48656px 8.48656px 0 0 white, 0 12px 0 0 white, -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
  }
  37.5% {
    -webkit-box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 0 white, 0 12px 0 0 white, -8.48656px 8.48656px 0 0 white, -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
            box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 0 white, 0 12px 0 0 white, -8.48656px 8.48656px 0 0 white, -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
  }
  50% {
    -webkit-box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 0 white, -8.48656px 8.48656px 0 0 white, -12px 0 0 0 white, -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
            box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 0 white, -8.48656px 8.48656px 0 0 white, -12px 0 0 0 white, -8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0);
  }
  62.5% {
    -webkit-box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 0 white, -12px 0 0 0 white, -8.48656px -8.48656px 0 0 white;
            box-shadow: 0 -12px 0 -5px rgba(255, 255, 255, 0), 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 0 white, -12px 0 0 0 white, -8.48656px -8.48656px 0 0 white;
  }
  75% {
    -webkit-box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 0 white, -8.48656px -8.48656px 0 0 white;
            box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 -5px rgba(255, 255, 255, 0), 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 0 white, -8.48656px -8.48656px 0 0 white;
  }
  87.5% {
    -webkit-box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 0 white, 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 0 white;
            box-shadow: 0 -12px 0 0 white, 8.48656px -8.48656px 0 0 white, 12px 0 0 -5px rgba(255, 255, 255, 0), 8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), 0 12px 0 -5px rgba(255, 255, 255, 0), -8.48656px 8.48656px 0 -5px rgba(255, 255, 255, 0), -12px 0 0 -5px rgba(255, 255, 255, 0), -8.48656px -8.48656px 0 0 white;
  }
}

/**
 * ==============================================
 * Dot Falling
 * ==============================================
 */
.dot-falling {
  position: relative;
  left: -9999px;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-box-shadow: 9999px 0 0 0 #fff;
          box-shadow: 9999px 0 0 0 #fff;
  -webkit-animation: dotFalling 1s infinite linear;
          animation: dotFalling 1s infinite linear;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.dot-falling::before, .dot-falling::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-falling::before {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotFallingBefore 1s infinite linear;
          animation: dotFallingBefore 1s infinite linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.dot-falling::after {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotFallingAfter 1s infinite linear;
          animation: dotFallingAfter 1s infinite linear;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

@-webkit-keyframes dotFalling {
  0% {
    -webkit-box-shadow: 9999px -10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 9999px -10px 0 0 rgba(255, 255, 255, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 9999px 0 0 0 white;
            box-shadow: 9999px 0 0 0 white;
  }
  100% {
    -webkit-box-shadow: 9999px 10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 9999px 10px 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes dotFalling {
  0% {
    -webkit-box-shadow: 9999px -10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 9999px -10px 0 0 rgba(255, 255, 255, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 9999px 0 0 0 white;
            box-shadow: 9999px 0 0 0 white;
  }
  100% {
    -webkit-box-shadow: 9999px 10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 9999px 10px 0 0 rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes dotFallingBefore {
  0% {
    -webkit-box-shadow: 9989px -10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 9989px -10px 0 0 rgba(255, 255, 255, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 9989px 0 0 0 white;
            box-shadow: 9989px 0 0 0 white;
  }
  100% {
    -webkit-box-shadow: 9989px 10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 9989px 10px 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes dotFallingBefore {
  0% {
    -webkit-box-shadow: 9989px -10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 9989px -10px 0 0 rgba(255, 255, 255, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 9989px 0 0 0 white;
            box-shadow: 9989px 0 0 0 white;
  }
  100% {
    -webkit-box-shadow: 9989px 10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 9989px 10px 0 0 rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes dotFallingAfter {
  0% {
    -webkit-box-shadow: 10009px -10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 10009px -10px 0 0 rgba(255, 255, 255, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 10009px 0 0 0 white;
            box-shadow: 10009px 0 0 0 white;
  }
  100% {
    -webkit-box-shadow: 10009px 10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 10009px 10px 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes dotFallingAfter {
  0% {
    -webkit-box-shadow: 10009px -10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 10009px -10px 0 0 rgba(255, 255, 255, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 10009px 0 0 0 white;
            box-shadow: 10009px 0 0 0 white;
  }
  100% {
    -webkit-box-shadow: 10009px 10px 0 0 rgba(255, 255, 255, 0);
            box-shadow: 10009px 10px 0 0 rgba(255, 255, 255, 0);
  }
}

/**
 * ==============================================
 * Dot Stretching
 * ==============================================
 */
.dot-stretching {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-transform: scale(1.25, 1.25);
          transform: scale(1.25, 1.25);
  -webkit-animation: dotStretching 2s infinite ease-in;
          animation: dotStretching 2s infinite ease-in;
}

.dot-stretching::before, .dot-stretching::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-stretching::before {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotStretchingBefore 2s infinite ease-in;
          animation: dotStretchingBefore 2s infinite ease-in;
}

.dot-stretching::after {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  color: #fff;
  -webkit-animation: dotStretchingAfter 2s infinite ease-in;
          animation: dotStretchingAfter 2s infinite ease-in;
}

@-webkit-keyframes dotStretching {
  0% {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
  50%,
  60% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@keyframes dotStretching {
  0% {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
  50%,
  60% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@-webkit-keyframes dotStretchingBefore {
  0% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
            transform: translate(0) scale(0.7, 0.7);
  }
  50%,
  60% {
    -webkit-transform: translate(-20px) scale(1, 1);
            transform: translate(-20px) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
            transform: translate(0) scale(0.7, 0.7);
  }
}

@keyframes dotStretchingBefore {
  0% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
            transform: translate(0) scale(0.7, 0.7);
  }
  50%,
  60% {
    -webkit-transform: translate(-20px) scale(1, 1);
            transform: translate(-20px) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
            transform: translate(0) scale(0.7, 0.7);
  }
}

@-webkit-keyframes dotStretchingAfter {
  0% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
            transform: translate(0) scale(0.7, 0.7);
  }
  50%,
  60% {
    -webkit-transform: translate(20px) scale(1, 1);
            transform: translate(20px) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
            transform: translate(0) scale(0.7, 0.7);
  }
}

@keyframes dotStretchingAfter {
  0% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
            transform: translate(0) scale(0.7, 0.7);
  }
  50%,
  60% {
    -webkit-transform: translate(20px) scale(1, 1);
            transform: translate(20px) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(0) scale(0.7, 0.7);
            transform: translate(0) scale(0.7, 0.7);
  }
}

/**
 * ==============================================
 * Experiment-Gooey Effect
 * Dot Gathering
 * ==============================================
 */
.dot-gathering {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: black;
  color: transparent;
  margin: -1px 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.dot-gathering::before, .dot-gathering::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -50px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: black;
  color: transparent;
  opacity: 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-animation: dotGathering 2s infinite ease-in;
          animation: dotGathering 2s infinite ease-in;
}

.dot-gathering::after {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes dotGathering {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  35%,
  60% {
    opacity: 1;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes dotGathering {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  35%,
  60% {
    opacity: 1;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

/**
 * ==============================================
 * Experiment-Gooey Effect
 * Dot Hourglass
 * ==============================================
 */
.dot-hourglass {
  position: relative;
  top: -10px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: black;
  color: transparent;
  margin: -1px 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform-origin: 2.5px 12.5px;
          transform-origin: 2.5px 12.5px;
  -webkit-animation: dotHourglass 2.4s infinite ease-in-out;
          animation: dotHourglass 2.4s infinite ease-in-out;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.dot-hourglass::before, .dot-hourglass::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: black;
  color: transparent;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.dot-hourglass::before {
  top: 20px;
}

.dot-hourglass::after {
  -webkit-animation: dotHourglassAfter 2.4s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
          animation: dotHourglassAfter 2.4s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@-webkit-keyframes dotHourglass {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  75% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes dotHourglass {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  75% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes dotHourglassAfter {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dotHourglassAfter {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/**
 * ==============================================
 * Experiment-Gooey Effect
 * Dot Overtaking
 * ==============================================
 */
.dot-overtaking {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: transparent;
  color: black;
  margin: -1px 0;
  -webkit-box-shadow: 0 -20px 0 0;
          box-shadow: 0 -20px 0 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
          animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
}

.dot-overtaking::before, .dot-overtaking::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: transparent;
  color: black;
  -webkit-box-shadow: 0 -20px 0 0;
          box-shadow: 0 -20px 0 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.dot-overtaking::before {
  -webkit-animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
          animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.dot-overtaking::after {
  -webkit-animation: dotOvertaking 1.5s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
          animation: dotOvertaking 1.5s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

@-webkit-keyframes dotOvertaking {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes dotOvertaking {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/**
 * ==============================================
 * Experiment-Gooey Effect
 * Dot Shuttle
 * ==============================================
 */
.dot-shuttle {
  position: relative;
  left: -10px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: black;
  color: transparent;
  margin: -1px 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.dot-shuttle::before, .dot-shuttle::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: black;
  color: transparent;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.dot-shuttle::before {
  left: 10px;
  -webkit-animation: dotShuttle 2s infinite ease-out;
          animation: dotShuttle 2s infinite ease-out;
}

.dot-shuttle::after {
  left: 20px;
}

@-webkit-keyframes dotShuttle {
  0%,
  50%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@keyframes dotShuttle {
  0%,
  50%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

/**
 * ==============================================
 * Experiment-Emoji
 * Dot Bouncing
 * ==============================================
 */
.dot-bouncing {
  position: relative;
  height: 5px;
  font-size: 10px;
}

.dot-bouncing::before {
  content: '⚽🏀🏐';
  display: inline-block;
  position: relative;
  -webkit-animation: dotBouncing 1s infinite;
          animation: dotBouncing 1s infinite;
}

@-webkit-keyframes dotBouncing {
  0% {
    top: -20px;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  34% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  35% {
    top: 20px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.5, 0.5);
            transform: scale(1.5, 0.5);
  }
  45% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    top: -20px;
  }
  100% {
    top: -20px;
  }
}

@keyframes dotBouncing {
  0% {
    top: -20px;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  34% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  35% {
    top: 20px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.5, 0.5);
            transform: scale(1.5, 0.5);
  }
  45% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    top: -20px;
  }
  100% {
    top: -20px;
  }
}

/**
 * ==============================================
 * Experiment-Emoji
 * Dot Rolling
 * ==============================================
 */
.dot-rolling {
  position: relative;
  height: 5px;
  font-size: 10px;
}

.dot-rolling::before {
  content: '⚽';
  display: inline-block;
  position: relative;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  -webkit-animation: dotRolling 3s infinite;
          animation: dotRolling 3s infinite;
}

@-webkit-keyframes dotRolling {
  0% {
    content: '⚽';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
  16.667% {
    content: '⚽';
    -webkit-transform: translateX(25px) rotateZ(720deg);
            transform: translateX(25px) rotateZ(720deg);
  }
  33.333% {
    content: '⚽';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
  34.333% {
    content: '🏀';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
  50% {
    content: '🏀';
    -webkit-transform: translateX(25px) rotateZ(720deg);
            transform: translateX(25px) rotateZ(720deg);
  }
  66.667% {
    content: '🏀';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
  67.667% {
    content: '🏐';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
  83.333% {
    content: '🏐';
    -webkit-transform: translateX(25px) rotateZ(720deg);
            transform: translateX(25px) rotateZ(720deg);
  }
  100% {
    content: '🏐';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
}

@keyframes dotRolling {
  0% {
    content: '⚽';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
  16.667% {
    content: '⚽';
    -webkit-transform: translateX(25px) rotateZ(720deg);
            transform: translateX(25px) rotateZ(720deg);
  }
  33.333% {
    content: '⚽';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
  34.333% {
    content: '🏀';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
  50% {
    content: '🏀';
    -webkit-transform: translateX(25px) rotateZ(720deg);
            transform: translateX(25px) rotateZ(720deg);
  }
  66.667% {
    content: '🏀';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
  67.667% {
    content: '🏐';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
  83.333% {
    content: '🏐';
    -webkit-transform: translateX(25px) rotateZ(720deg);
            transform: translateX(25px) rotateZ(720deg);
  }
  100% {
    content: '🏐';
    -webkit-transform: translateX(-25px) rotateZ(0deg);
            transform: translateX(-25px) rotateZ(0deg);
  }
}
/*# sourceMappingURL=three-dots.css.map */