@import "../../../styles/partial/vars";

.header-small {
  background: $grey;
  display: flex;
  align-items: center;
  height: 66px;
  padding-left: 24px;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;

  ._logo {
    flex-grow: 1;
    text-align: center;

    @media all and (max-width: 767px) {
      img {
        width: 150px;
      }
    }
  }

  ._right {
    align-items: stretch;
    display: flex;
    height: 100%;

    .language-switcher,
    ._search {
      margin: 0;
      background: $blue;
      height: 100%;
      padding: 0 18px;
      display: flex;
      align-items: center;

      .more {
        top: 100%;
        z-index: 5;
        right: 0px;
        width: 100%;
      }
    }

    ._search {
      border-left: 1px solid $grey;
    }
  }
}

.e-banking-mobile {
  padding: 12px;
  text-align: center;
}