@import "../../../styles/partial/vars";

.mobile-menu {
  width: 300px;

  .menu-items {
    flex-direction: column;
  }

  .menu-item {
    border-bottom: 1px solid $grey;
    
    a {
      color: #212529;
      padding: 12px 20px 12px 24px;
      display: flex;
      justify-content: space-between;
    }
  }
}
