.wrapper .greyBack {
  background: #ebe9e5;
  padding: 60px 0;
}

.wrapper .greyBack .heading {
  color: #034EA2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.wrapper .greyBack .heading .location {
  color: #ED1C24;
}

.wrapper .strip {
  background: #ebe9e5;
  padding-bottom: 45px;
}

/* Component Locker Size Css Below */
.lockerSizeWrapper {
  padding-top: 60px;
}

.lockerSizeWrapper .heading {
  color: #034EA2;
}

/* Component Locker Table Css Below*/
.tableWrapper {
  margin-top: 30px;
}

.tableWrapper .tableHead {
  width: 100%;
}

.tableWrapper .topHeading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.tableWrapper .tableBodyWrapper :global(.table-contents) {
  background: #ebe9e5;
}

.tableWrapper .dimension {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.tableWrapper .charges {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.tableWrapper .hwd {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tableWrapper .deposits {
  -ms-grid-column: 6;
  grid-column: 6;
  text-align: center;
}

.tableWrapper .anualCharges {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=lockers.module.css.map */