@import '../../../../styles/partial/vars';

.wrapper {
  .greyBack {
    background: $grey;
    padding: 60px 0;
    .heading {
      color: $blue;
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
      .location {
        color: $red;
      }
    }
  }
  .strip {
    background: $grey;
    padding-bottom: 45px;
  }
}

/* Component Locker Size Css Below */
.lockerSizeWrapper {
  padding-top: 60px;
  .heading {
    color: $blue;
  } 
}

/* Component Locker Table Css Below*/
.tableWrapper {
  margin-top: 30px;
  .tableHead {
    width: 100%;
  }
  .topHeading {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
  }
  .tableBodyWrapper {
    :global(.table-contents) {
      background: $grey;
    }
  }
  .dimension {
    grid-column: 2/5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }
  .charges {
    grid-column: 8/13;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }
  .hwd {
    grid-column: 2/5;
    display: flex;
    justify-content: space-around;
  }
  .deposits {
    grid-column: 6;
    text-align: center;
  }
  .anualCharges {
    grid-column: 8/13;
    display: flex;
    justify-content: space-around;
  }
  
}
