@import '../../../../styles/partial/vars';

.wrapper {
  .innerWrapper {
    padding: 60px 0;
    background: $grey;
    .heading {
      text-align: center;
      color: $blue;
      margin-bottom: 30px;
    }
    .content {
      h4 {
        color: $blue;
      }
      p {
        margin-top: 18px;
      }
      .socialIcons {
        a {
          margin-right: 18px;
          color: $blue;
          transition: all .3s ease;
          &:hover {
            color: $red;
            transition: all .3s ease;
          }
        }
      }
    }
    .list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .listElement {
        margin-bottom: 50px;
        cursor: pointer;
      }
    }
  }
}
