.wrapper .innerWrapper {
  padding: 60px 0;
  background: #ebe9e5;
}

.wrapper .innerWrapper .heading {
  text-align: center;
  color: #034EA2;
  margin-bottom: 30px;
}

.wrapper .innerWrapper .content h4 {
  color: #034EA2;
}

.wrapper .innerWrapper .content p {
  margin-top: 18px;
}

.wrapper .innerWrapper .content .socialIcons a {
  margin-right: 18px;
  color: #034EA2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.wrapper .innerWrapper .content .socialIcons a:hover {
  color: #ED1C24;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.wrapper .innerWrapper .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .innerWrapper .list .listElement {
  margin-bottom: 50px;
  cursor: pointer;
}
/*# sourceMappingURL=boardOfDirectors.module.css.map */