@import '../../styles/partial/vars';

// ForexSlider
.forexSliderWrapper {
  position: relative;
  opacity: 0;
  padding-bottom: 60px;
  .more {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.forexSlider {
  background: #fff;
  padding: 30px 45px;
  position: relative;
  .slide {
    img {
      float: left;
      margin-right: 12px;
      margin-top: 6px;
    }
    .forexValue {
      span {
        display: block;
      }
    }
  }
}

