.forexSliderWrapper {
  position: relative;
  opacity: 0;
  padding-bottom: 60px;
}

.forexSliderWrapper .more {
  position: absolute;
  bottom: 0;
  right: 0;
}

.forexSlider {
  background: #fff;
  padding: 30px 45px;
  position: relative;
}

.forexSlider .slide img {
  float: left;
  margin-right: 12px;
  margin-top: 6px;
}

.forexSlider .slide .forexValue span {
  display: block;
}
/*# sourceMappingURL=forex.module.css.map */