@import '../../styles/partial/vars';

.wrapper {
  .contentWrapper {
    color: $lightBlack;
    text-decoration: none;
    cursor: pointer;

    .content {
      .videoThumb {
        position: relative;
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          background: rgba(0, 0, 0, 0.43);
          visibility: hidden;
          opacity: 0;
          transition: all .3s ease;
          img {
            width: 30px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
          }
        }
      }
      .videoTitle {
        padding:18px;
        background: $white;

        h4 {
          color: #000;
        }
      }
    }
    .videoThumb {
      &:hover {
        .overlay {
          visibility: visible;
          opacity: 1;
          transition: all .3s ease;
        }
      }
    }
  }
}