@import '../../../../../styles/partial/vars';

.wrapper {
  .greyInner {
    background: $grey;
    padding-top: 60px;
    padding-bottom: 60px;
    .heading {
      margin-top: 30px;
      margin-bottom: 45px;
      color: $blue;
    }
  }
  .faqWrapper {
    padding: 60px 0;
    h1 {
      color: $blue;
      margin-bottom: 30px;
    }
  }
  .applyNow {
    :global(.greyback) {
      background: $grey;
    }
  }
}