.wrapper .greyInner {
  background: #ebe9e5;
  padding-top: 60px;
  padding-bottom: 60px;
}

.wrapper .greyInner .heading {
  margin-top: 30px;
  margin-bottom: 45px;
  color: #034EA2;
}

.wrapper .faqWrapper {
  padding: 60px 0;
}

.wrapper .faqWrapper h1 {
  color: #034EA2;
  margin-bottom: 30px;
}

.wrapper .applyNow :global(.greyback) {
  background: #ebe9e5;
}
/*# sourceMappingURL=ketaketi.module.css.map */