@import '../../../../styles/partial/vars';

.iconBlockWrapper {
  background: $grey;
  padding-top: 75px;
  padding-bottom: 75px;
}
.ebankingWrapper {
  margin-top: 30px;
}
.bigTitleBlockSetWrapper {
  margin: 75px 0;
}
