.iconBlockWrapper {
  background: #ebe9e5;
  padding-top: 75px;
  padding-bottom: 75px;
}

.ebankingWrapper {
  margin-top: 30px;
}

.bigTitleBlockSetWrapper {
  margin: 75px 0;
}
/*# sourceMappingURL=styles.module.css.map */