.wrapper {
  background: #ebe9e5;
  padding-bottom: 30px;
}

.wrapper .heading h1 {
  color: #034EA2;
  margin-bottom: 15px;
}

.wrapper .tableHeadTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wrapper .tableHeadTitles span:first-child {
  width: 45px;
}

.wrapper .tableHeadTitles span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .tableBodyWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wrapper .tableBodyWrapper span:nth-child(1) {
  width: 45px;
}

.wrapper .tableBodyWrapper span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .tableBodyWrapper .downloadLinks a {
  margin-left: 30px;
  color: #034EA2;
}

.wrapper :global(.table-contents) {
  background: #ffffff;
}
/*# sourceMappingURL=reports.module.css.map */