@import '../../../../styles/partial/vars';

.wrapper {
  background: $grey;
  padding-bottom: 30px;
  .heading {
    h1 {
      color: $blue;
      margin-bottom: 15px;
    }
  }
  .tableHeadTitles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    span {
      &:first-child {
        width: 45px;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
    }
  }
  .tableBodyWrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    span {
      &:nth-child(1) {
        width: 45px;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
    }
    .downloadLinks {
      a {
        margin-left: 30px;
        color: $blue;
      }
    }
  }
  :global(.table-contents) {
    background: $white;
  }
}
