.wrapper .tabContent {
  margin-top: 30px;
}

.wrapper :global(._heading) {
  margin-top: 60px;
}

.wrapper .contentCard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.wrapper .contentCard .content {
  margin-bottom: 30px;
}

.wrapper .contentCard .content h5 {
  color: #ED1C24;
}

.wrapper .contentCard .content .contentElement span {
  display: block;
}

.wrapper .contentCard .content .contentElement span a {
  color: #ED1C24;
}
/*# sourceMappingURL=internationalNetwork.module.css.map */