@import '../../styles/base.scss';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: $primaryFont;
  font-size: 18px;
  color: $blue2;
  margin-bottom: 15px;
}

.cardText {
  margin-top: 30px;
  flex-grow: 1;
}

.link {
  // position: absolute;
  // bottom: 0;

  a {
    color: $red2;
    margin-top: 18px;
  }
}