.wrapper .top {
  margin-bottom: 30px;
}

.wrapper .tableGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  width: 100%;
}

.wrapper .buying {
  -ms-grid-column: 4;
  grid-column: 4;
  text-align: center;
}

.wrapper .others {
  -ms-grid-column: 6;
  grid-column: 6;
  text-align: center;
}

.wrapper .selling {
  -ms-grid-column: 8;
  grid-column: 8;
  text-align: right;
}

.wrapper .flag img {
  margin-right: 15px;
}

.wrapper :global(.table-contents) {
  background: #ffffff;
}

.datePicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fakeDateInput {
  position: relative;
  margin-right: 9px;
}

.fakeDateInput input {
  width: 60px;
  padding: 3px 24px 3px 9px;
  cursor: pointer;
  background: none;
  border: 1px solid #D0D0D0;
}

.fakeDateInput svg {
  position: absolute;
  right: 6px;
  top: 9px;
  pointer-events: none;
}
/*# sourceMappingURL=dailyRates.module.css.map */